
<div class="row">
  <div class="col-lg-12 col-md-12 col-xs-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <div icon="fa-plus" title="Add a new user">
        </div>
        <div style="height:50px">
          <img src="/assets/images/amp.png" alt="amp" class="img-rounded" style="max-height:40px">
        </div>
        <div style="color:blue;margin-top=20px">Forgot login or password</div>
        <div>
        <div style="margin-top=15px;margin-bottom:20Px">
          <button
            [class]="forgotToggle?'btn btn-primary ebutton':'btn btn-primary'"
            (click)="forgotLogin()">
            <i class="glyphicon glyphicon-user" aria-hidden="true"></i>
            Login
          </button>
          <button
            [class]="!forgotToggle?'btn btn-primary ebutton':'btn btn-primary'"
            (click)="forgotPassword()">
            <i  class="fa fa-lock" aria-hidden="true"></i>
            Password
          </button>
        </div>
        <div>
          <form class="form-horizontal" (ngSubmit)="onForgot(f)" #f="ngForm">

            <div class="form-group">
              <div class="col-sm-12">
                <input
                  [readonly]="forgotToggle"
                  ngModel
                  [required]="!forgotToggle"
                  type="text"
                  class="form-control"
                  name="username"
                  id="username"
                  placeholder="username">
              </div>
            </div>

            <div class="form-group">
              <div class="col-sm-12">
                <input
                  [readonly]="!forgotToggle"
                  ngModel
                  [required]="forgotToggle"
                  [email]="forgotToggle"
                  type="email"
                  class="form-control"
                  name="email"
                  id="email"
                  placeholder="email"
                  #email="ngModel">
                <span class="help-block" *ngIf="!email.valid && email.touched">Please enter a valid email</span>
              </div>
            </div>

            <span class="help-block" style="color:red;margin-left:20px">{{ message }}</span>

            <div class="form-group">
              <div class="btn-group" role="group" aria-label="...">
                <button
                  type="button"
                  class="btn btn-primary btn-sm"
                  type="submit"
                  [disabled]="!f.valid">
                  <i class="fa fa-user-plus" aria-hidden="true"></i> {{ submitCaption }}</button>
                <button type="button"
                  class="btn btn-default btn-sm"
                  (click)="returnBack()">
                  <i aria-hidden="true"></i> Cancel</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
