
<div class="row">
  <div class="col-lg-12 col-md-12 col-xs-12" style="margin-bottom:5px">
    <div class="panel panel-default" style="margin-bottom:5px">
      <div class="panel-body" style="padding-bottom:5px">
        <div class="form-group">
          <div>
            <div class="pull-left">
              <span class="glyphicon glyphicon-book space-right" aria-hidden="true"></span>
              Organization:
            </div>
            <div class="pull-left" style="color:blue;margin-left:10px">
              {{organization.name}}
            </div>
          </div>
        </div>
        <div>
          <div class="col-lg-12 col-md-12 col-xs-12" style="margin-top:20px">
            <div class="panel panel-default" style="border-style:none">
              <div class="btn-group" role="group" aria-label="...">
                <button type="button"
                  class="btn btn-primary"
                  (click)=returnBack()>
                  <i class="glyphicon glyphicon glyphicon-backward"></i>
                </button>
                <button type="button"
                  class="btn btn-danger"
                  (click)=removeTeam()>
                  <i class="fa fa-trash space-right"></i>
                  Remove
                </button>
                <button
                  [class]="teamMode=='user'?'btn btn-primary ebutton':'btn btn-primary'"
                  (click)="userManagement()">
                  <i class="glyphicon glyphicon-user" aria-hidden="true"></i>
                  Users
                </button>
                <button
                  [class]="teamMode=='resource'?'btn btn-primary ebutton':'btn btn-primary'"
                  (click)="resourceManagement()">
                  <i  lass="glyphicon glyphicon-duplicate" aria-hidden="true"></i>
                  Resources
                </button>
                <button
                  [class]="teamMode=='authorization'?'btn btn-primary ebutton':'btn btn-primary'"
                  (click)="authorizationManagement()">
                  <i class="glyphicon glyphicon-duplicate" aria-hidden="true"></i>
                  Authorizations
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Panel: Users exchange between organization and team -->
<div class="row" [hidden]="teamMode!='user'">
  <div class="col-lg-12 col-md-12 col-xs-12">
    <div class="panel panel-default">
      <div class="panel-body" style="padding-top:5px">
        <div class="form-group">
          <div class="col-lg-12 col-md-12 col-xs-12" style="margin-top:20px">
            <div>
              <div class="pull-left"><span class="fa fa-user-plus space-right" aria-hidden="true">
              </span> Team:
              </div>
              <div class="pull-left" style="color:blue;margin-left:10px">
                {{team.name}}
              </div>
            </div>
          </div>
        </div>
        <!-- Panel: Users exchange between organization and team -->
        <div class="col-lg-12 col-md-12 col-xs-12" style="margin-top:20px">
          <div class="col-sm-4">
            <div class="list-group">
              <input
                #filteru1
                type="text"
                id="filter"
                placeholder="Filter..."
                class="form-control input-sm"
                style="margin-bottom:15px"
                (keyup)="listUserService.filter(filteru1.value)"/>
              <a class="disabled list-group-item">Organization users</a>
              <a *ngFor="let user of listUserService.getData()" (click)="addUser(user)" class="list-group-item" style="padding:5px;color:blue">
                {{user.getLabeledName()}}
                <div *ngIf="user.saved && user.saveError===''" style="color:green" class="menu-icon glyphicon glyphicon-ok space-left"></div>
                <div *ngIf="user.saved && user.saveError!==''" style="color:red" class="menu-icon glyphicon glyphicon-remove space-left space-right"></div>
                <div *ngIf="user.saved && user.saveError!==''" style="color:red">{{user.saveError}}</div>
              </a>
            </div>
          </div>

          <div class="col-sm-4 btn-group btn-group-vertical" align="center" style="margin-top:50px">
            <div style="">
              <a (click)="addAllUsers()" style="background-color:white;display:block;margin:20px">
                Add all
                <i class="glyphicon glyphicon-chevron-right"></i>
              </a>
              <a (click)="removeAllUsers()" style="background-color:white;display:block;margin:20px">
                <i class="glyphicon glyphicon-chevron-left"></i>
                Remove all
              </a>
              <button [disabled]="nbSaveInProgress>0" class="btn btn-primary" (click)="applyUsers()">
                <i class="glyphicon glyphicon-send" aria-hidden="true"></i>
                Apply
              </button>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="list-group">
              <input
                #filteru2
                type="text"
                id="filter"
                placeholder="Filter..."
                class="form-control input-sm"
                style="margin-bottom:15px"
                (keyup)="listUserAddedService.filter(filteru2.value)"/>
              <a class="disabled list-group-item">Team users</a>
              <a *ngFor="let addedUser of listUserAddedService.getData()" (click)="removeUser(addedUser)" class="list-group-item" style="padding:5px;color:blue">
                {{addedUser.getLabeledName()}}
                <div *ngIf="addedUser.saved && addedUser.saveError===''" style="color:green" class="menu-icon glyphicon glyphicon-ok space-left"></div>
                <div *ngIf="addedUser.saved && addedUser.saveError!==''" style="color:red" class="menu-icon glyphicon glyphicon-remove space-left space-right"></div>
                <div *ngIf="addedUser.saved && addedUser.saveError!==''" style="color:red">{{addedUser.saveError}}</div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Panel: Resources exchange between organization and team -->
<div class="row" [hidden]="teamMode!='resource'">
  <div class="col-lg-12 col-md-12 col-xs-12">
    <div class="panel panel-default">
      <div class="panel-body" style="padding-top:5px">
        <div class="form-group">
          <div class="col-lg-12 col-md-12 col-xs-12" style="margin-top:20px">
            <div>
              <div class="pull-left"><span class="fa fa-user-plus" aria-hidden="true"></span> Team</div>
              <div class="pull-right" style="color:blue">{{team.name}}</div>
            </div>
          </div>
        </div>
        <div class="col-lg-12 col-md-12 col-xs-12" style="margin-top:20px">
          <div class="col-sm-4">
            <div class="list-group">
              <input
                #filterr1
                type="text"
                id="filter"
                placeholder="Filter..."
                class="form-control input-sm"
                style="margin-bottom:15px"
                (keyup)="listResourceService.filter(filterr1.value)"/>
              <a class="disabled list-group-item">Org. resources</a>
              <a *ngFor="let res of listResourceService.getData()" (click)="addResource(res)" class="list-group-item" style="padding:5px;color:blue">
                {{res.getLabeledName()}}
                <div *ngIf="res.saved && res.saveError===''" style="color:green" class="menu-icon glyphicon glyphicon-ok space-left"></div>
                <div *ngIf="res.saved && res.saveError!==''" style="color:red" class="menu-icon glyphicon glyphicon-remove space-left space-right"></div>
                <div *ngIf="res.saved && res.saveError!==''" style="color:red">{{res.saveError}}</div>
              </a>
            </div>
          </div>

          <div class="col-sm-4 btn-group btn-group-vertical" align="center" style="margin-top:50px">
            <div style="">
              <a (click)="addAllResources()" style="background-color:white;display:block;margin:20px">
                Add all
                <i class="glyphicon glyphicon-chevron-right"></i>
              </a>
              <a (click)="removeAllResources()" style="background-color:white;display:block;margin:20px">
                <i class="glyphicon glyphicon-chevron-left"></i>
                Remove all
              </a>
              <button [disabled]="nbSaveInProgress>0" class="btn btn-primary" (click)="applyResources()">
                <i class="glyphicon glyphicon-send" aria-hidden="true"></i>
                Apply
              </button>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="list-group">
              <input
                #filterr2
                type="text"
                id="filter"
                placeholder="Filter..."
                class="form-control input-sm"
                style="margin-bottom:15px"
                (keyup)="listResourceAddedService.filter(filterr2.value)"/>
              <a class="disabled list-group-item">Team ressources</a>
              <a *ngFor="let addedRes of listResourceAddedService.getData()" (click)="removeResource(addedRes)" class="list-group-item" style="padding:5px;color:blue">
                {{addedRes.getLabeledName()}}
                <div *ngIf="addedRes.saved && addedRes.saveError===''" style="color:green" class="menu-icon glyphicon glyphicon-ok space-left"></div>
                <div *ngIf="addedRes.saved && addedRes.saveError!==''" style="color:red" class="menu-icon glyphicon glyphicon-remove space-left space-right"></div>
                <div *ngIf="addedRes.saved && addedRes.saveError!==''" style="color:red">{{addedRes.saveError}}</div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Panel: set team resources authorizations -->
<div class="row" [hidden]="teamMode!='authorization'">
  <div class="col-lg-12 col-md-12 col-xs-12">
    <div class="panel panel-default">
      <div class="panel-body" style="padding-top:5px">
        <div class="form-group">
          <div class="col-lg-12 col-md-12 col-xs-12" style="margin-top:20px">
            <div>
              <div class="pull-left"><span class="fa fa-user-plus" aria-hidden="true"></span> Team</div>
              <div class="pull-right" style="color:blue">{{team.name}}</div>
            </div>
          </div>
        </div>
        <div class="col-lg-12 col-md-12 col-xs-12" style="margin-top:20px;margin-bottom:40px">
          <div class="col-sm-2">
            <div class="list-group">
              <input
                #filtera1
                type="text"
                id="filter1"
                placeholder="Filter..."
                class="form-control input-sm"
                style="margin-bottom:15px"
                (keyup)="listResourceAddedService.filter(filtera1.value)"/>
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>
                      <a>
                        Id
                        <span (click)="listResourceAddedService.order('id', 1)" class="glyphicon glyphicon-chevron-down"></span>
                        <span (click)="listResourceAddedService.order('id', -1)" class="glyphicon glyphicon-chevron-up"></span>
                      </a>
                    </th>
                    <th>
                      <a>
                        Type
                        <span (click)="listResourceAddedService.order('type', 1)" class="glyphicon glyphicon-chevron-down"></span>
                        <span (click)="listResourceAddedService.order('type', -1)" class="glyphicon glyphicon-chevron-up"></span>
                      </a>
                    </th>
                    <th>
                      <a>
                        Name
                        <span (click)="listResourceAddedService.order('name', 1)" class="glyphicon glyphicon-chevron-down"></span>
                        <span (click)="listResourceAddedService.order('name', -1)" class="glyphicon glyphicon-chevron-up"></span>
                      </a>
                    </th>
                    <th>
                      <a>
                        Permission
                        <span (click)="listResourceAddedService.order('permissionLabel', 1)" class="glyphicon glyphicon-chevron-down"></span>
                        <span (click)="listResourceAddedService.order('permissionLabel', -1)" class="glyphicon glyphicon-chevron-up"></span>
                      </a>
                    </th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let res of listResourceAddedService.getData()">
                    <td style="min-width:100px">{{res.id.substring(0,12)}}</td>
                    <td style="min-width:100px">{{res.type}}</td>
                    <td style="min-width:200px">{{res.name}}</td>
                    <td style="min-width:200px">
                      <div class="btn dropdown" style="padding:0px">
                        <button class="dropdown btn btn-default dropdown-toggle" style="border:none;padding:2px" type="button" id="object" data-toggle="dropdown">
                          {{res.permissionLabel}}
                          <span class="caret" style="cursor:pointer;color:black"></span>
                        </button>
                        <div class="dropdown-menu">
                          <li><a (click)="setAuthorization(res, 0)">read</a></li>
                          <li><a (click)="setAuthorization(res, 1)">write</a></li>
                          <li><a (click)="setAuthorization(res, 2)">admin</a></li>
                        </div>
                      </div>
                    </td>
                    <td style="min-width:200px">
                      <div *ngIf="res.changeAuth && res.changeAuthError==''" style="color:green" class="menu-icon glyphicon glyphicon-ok space-left"></div>
                      <div *ngIf="res.changeAuth && res.changeAuthError!==''" style="color:red" class="menu-icon glyphicon glyphicon-remove space-left space-right"></div>
                      <div *ngIf="res.changeAuth && res.changeAuthError!==''" style="color:red">{{res.changeAuthError}}</div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
