
<div class="row">
  <div class="col-lg-12 col-md-12 col-xs-12">
    <div>
      <span appDropdown class="user-box" style="cursor:pointer;color:blue">
        {{ periodLabel }}
        <span class="caret" style="cursor:pointer;color:blue"></span>
        <div class="dropdown-menu" style="position:relative;top:0px">
          <li><a (click)="setPeriod('now-10m', '30s')">10 minutes</a></li>
          <li><a (click)="setPeriod('now-30m', '1m')">30 minutes</a></li>
          <li><a (click)="setPeriod('now-60m', '2m')">1 hour</a></li>
          <li><a (click)="setPeriod('now-4h', '10m')">4 hours</a></li>
          <li><a (click)="setPeriod('now-12h', '30m')">12 hours</a></li>
          <li><a (click)="setPeriod('now-24h', '60m')">24 hours</a></li>
          <li><a (click)="setPeriod('now-7d', '8h')">7 days</a></li>
          <li><a (click)="setPeriod('now-30d', '1d')">30 days</a></li>
          <li><a (click)="setPeriod('now-90d', '10d')">90 days</a></li>
          <li><a (click)="setPeriod('now-6M', '10d')">6 months</a></li>
          <li><a (click)="setPeriod('now-1y', '1M')">1 year</a></li>
          <li><a (click)="setPeriod('now-2y', '1M')">2 years</a></li>
          <li><a (click)="setPeriod('now-5y', '3M')">5 years</a></li>
        </div>
      </span>
    </div>
    <div class="panel panel-default">
      <div class="panel-body" style="padding-top:5px;padding-bottom:5px">
        <div class="col-sm-6">
          <app-graph-line
            [fields]="['cpu-usage']"
            title="global cpu"
            yTitle="usage %">
          </app-graph-line>
        </div>
        <div class="col-sm-6">
          <app-graph-line
            [fields]="['mem-usage']"
            title="global memory"
            yTitle="usage MB">
          </app-graph-line>
        </div>
      </div>
      <div class="panel-body" style="padding-top:5px;padding-bottom:5px">
        <div class="col-sm-6">
          <app-graph-line
            [fields]="['net-total-bytes']"
            title="global network"
            yTitle="total bytes">
          </app-graph-line>
        </div>
        <div class="col-sm-6">
          <app-graph-line
            [fields]="['io-total']"
            title="global io"
            yTitle="total bytes">
          </app-graph-line>
        </div>
      </div>
    </div>
  </div>
</div>
