.glide/
/dist
bin/**/amd64/amp
bin/**/amd64/amp.exe
*.alpine
/*.exe
coverage.out
coverage-all.out

# tests
*.log
test_*/

# terraform
instance*.tf.json
*.tfstate
*.tfstate.backup
*.tfvars
*.lock.info
ikt.vol.*

# certificates
*.pem
