sudo: required

services:
  - docker

language: go

go:
  - 1.7.3

install:
  - go get -u github.com/golang/lint/golint
  - sudo apt-get update
  - sudo apt-get install docker-engine
  - docker swarm init --advertise-addr 127.0.0.1
  - ./swarm pull --min
  - ./swarm start --min

script:
  - make install
  - make test

after_success:
  - if [ "$TRAVIS_BRANCH" == "master" and "$TRAVIS_PULL_REQUEST" != "false" ]; then
      docker login -u="$DOCKER_USERNAME" -p="$DOCKER_PASSWORD" &&
      timeout 120 ./shrink.sh latest &&
      timeout 30 docker push appcelerator/amp:latest
    fi
