<div class="row">
  <div class="col-lg-12 col-md-12 col-xs-12" style="margin-bottom:5px">
    <div class="panel panel-default" style="margin-bottom:5px">
      <div class="panel-body" style="padding-bottom:5px">
        <div class="form-group">
          <div>
            <div class="pull-left"><span class="menu-icon fa fa-server" aria-hidden="true"></span>Stack</div>
            <div class="pull-right" style="color:blue">{{updateStackName}}</div>
          </div>
        </div>
        <div class="col-lg-12 col-md-12 col-xs-12" style="margin-top:20px">
          <div class="panel panel-default" style="border-style:none">
            <form class="form-horizontal" (ngSubmit)="onDeploy(f)" #f="ngForm">

              <div class="form-group">
                <div *ngIf="updateStackName==='new stack'" class="col-sm-8">
                  <input
                    ngModel
                    required
                    type="text"
                    class="form-control"
                    name="name"
                    placeholder="name"
                    id="name">
                </div>
              </div>

              <div class="form-group">
                <div class="col-sm-8">
                  <input
                    ngModel
                    type="file"
                    class="form-control"
                    name="filename"
                    id="filename"
                    (change)="fileSelected($event)"
                    #filename>
                  <span class="help-block" *ngIf="!filename.valid && filename.touched">Please choose a valid file</span>
                </div>
              </div>

              <div class="form-group">
                <div class="col-sm-8">
                  <textarea
                    [(ngModel)]="fileText"
                    required
                    type="filedata"
                    class="form-control"
                    name="filedata"
                    id="filedata"
                    [style.height.px]="deployPanelHeight"
                    [style.width.px]="deployPanelWidth"
                    #filedata>
                  </textarea>
                </div>
              </div>

              <span class="help-block" style="color:red;margin-left:20px">{{ message }}</span>

              <div class="form-group">
                <div class="btn-group" role="group" aria-label="...">
                  <button
                    type="button"
                    class="btn btn-primary btn-sm"
                    type="submit"
                    [disabled]="!f.valid || message=='submitting...'">
                    <i class="fa fa-user-plus" aria-hidden="true"></i>
                    Submit
                  </button>
                  <button type="button"
                    class="btn btn-default btn-sm"
                    (click)="returnBack()">
                    <i aria-hidden="true"></i> Cancel
                  </button>
                </div>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
