#cloud-config
repo_update : true
repo_upgrade: security
packages:
  - ca-certificates
  - jq
  - curl
  - unzip
# aws cli to discover other nodes
  - awscli
# system monitoring tools
  - sysstat
  - iotop
# xfs for the FS mounted on /var/lib/docker
  - xfsprogs
# setuptools needed for the installation of the cfn tools (including cfn-signal)
  - python-setuptools
# brctl, to inspect connected containers to a bridge interface
  - bridge-utils
# nvme, to inspect bloc devices when ENA is enabled (m5 and c5 instance types)
  - nvme-cli
write_files:
  - path: "/etc/default/grub.d/50-cloudimg-settings.cfg"
    encoding: "base64"
    content: {{ grub_config }}
    permissions: "0644"
    owner: "root"
{% if docker_version != "latest" %}
write_files:
  - path: "/etc/apt/preferences.d/docker"
    permissions: "0644"
    owner: "root"
    content: |
        Package: docker-ce
        Pin: version {{ docker_version }}~*
        Pin-Priority: 1000
{% endif %}

runcmd:
  - _ok () { cd /tmp ; echo SUCCESS > index.html ; /usr/bin/python3 -m http.server 80 ; }
  - _ko () { cd /tmp ; echo FAIL > index.html ; /usr/bin/python3 -m http.server 80 ; }
  - python -c "import pkg_resources" || curl -sf 'https://bootstrap.pypa.io/ez_setup.py' | python
  - update-grub || _ko
  - curl -sSf 'https://s3.amazonaws.com/cloudformation-examples/aws-cfn-bootstrap-latest.tar.gz' | tar xzf -
  - (cd aws-cfn-bootstrap-* && python setup.py install) || _ko 
  - rm -rf aws-cfn-bootstrap-*
  - export CHANNEL="{{docker_channel}}" ; wget -qO- "{{docker_url}}" | sh || _ko
  - if [ "x$_release" = "xUbuntu" ]; then usermod -G docker ubuntu 2>/dev/null ; fi
  - if [ "x$_release" = "xDebian" ]; then usermod -G docker admin  2>/dev/null ; fi
  - docker pull appcelerator/cfssl:latest
  - echo "vm.max_map_count = 262144" > "/etc/sysctl.d/99-amp.conf" # prerequisite for elasticsearch
  - aws s3 --region="{{ ec2_region }}" cp "s3://{{ s3_bucket }}/scripts/userdata-aws-manager" /usr/local/bin/userdata-aws-manager || _ko
  - aws s3 --region="{{ ec2_region }}" cp "s3://{{ s3_bucket }}/scripts/userdata-aws-worker" /usr/local/bin/userdata-aws-worker || _ko
  - aws s3 --region="{{ ec2_region }}" cp "s3://{{ s3_bucket }}/scripts/userdata-aws-ca" /usr/local/bin/userdata-aws-ca || _ko
  - aws s3 --region="{{ ec2_region }}" cp "s3://{{ s3_bucket }}/scripts/userdata-aws-registry" /usr/local/bin/userdata-aws-registry || _ko
  - chmod u+x /usr/local/bin/userdata-aws-worker /usr/local/bin/userdata-aws-manager /usr/local/bin/userdata-aws-registry /usr/local/bin/userdata-aws-ca
  - echo "" > ~ubuntu/.ssh/authorized_keys
  - shred -u ~/.*history
  - _ok
