
<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <div icon="fa-plus" title="Add a new user">
        </div>
        <div style="height:50px">
          <img src="/assets/images/amp.png" alt="amp" class="img-rounded" style="max-height:25px">
        </div>
        <div style="color:blue">Sign Up</div>
        <div>
          <form class="form-horizontal" (ngSubmit)="onSignup(f)" #f="ngForm">

            <div class="form-group">
              <div class="col-sm-12">
                <input
                  ngModel
                  required
                  type="text"
                  class="form-control"
                  name="username"
                  id="username"
                  placeholder="username">
              </div>
            </div>

            <div class="form-group">
              <div class="col-sm-12">
                <input
                  ngModel
                  required
                  email
                  type="email"
                  class="form-control"
                  name="email"
                  id="email"
                  placeholder="email"
                  #email="ngModel">
                <span class="help-block" *ngIf="!email.valid && email.touched">Please enter a valid email</span>
              </div>
            </div>

            <div class="form-group">
              <div class="col-sm-12">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-lock" aria-hidden="true"></i></span>
                  <input
                    ngModel
                    required
                    type="password"
                    class="form-control"
                    name="password"
                    placeholder="password"
                    id="password">
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="col-sm-12">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-lock" aria-hidden="true"></i></span>
                  <input
                    ngModel
                    required
                    type="password"
                    class="form-control"
                    name="passwordConfirm"
                    placeholder="password confirmation"
                    id="passwordConfirm">
                </div>
              </div>
            </div>

            <span class="help-block" style="color:green;margin-left:20px">{{ message }}</span>
            <span class="help-block" style="color:red;margin-left:20px">{{ messageError }}</span>
            <a *ngIf="validateLink" [href]="httpService.addr+'/gw/validate'" >please validate this link: {{ httpService.addr }}</a>

            <div class="form-group">
              <div class="btn-group" role="group" aria-label="...">
                <button
                  type="button"
                  class="btn btn-primary btn-sm"
                  type="submit"
                  [disabled]="!f.valid">
                  <i class="fa fa-user-plus" aria-hidden="true"></i> {{ submitCaption }}</button>
                <button type="button"
                  class="btn btn-default btn-sm"
                  (click)="returnBack()">
                  <i aria-hidden="true"></i> Cancel</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
