ul.sidebar {
  position: absolute;
  top: 0;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
  text-indent: 20px;
  list-style: none;
}

ul.sidebar .sidebar-title {
  height: auto;
}

ul.sidebar .sidebar-list a.active {
  color: #fff;
  text-indent: 22px;
  border-left: 3px solid #fff;
  background: #2d3e63;
}

ul.sidebar .sidebar-list .sidebar-sublist a {
  text-indent: 35px;
  font-size: 12px;
  color: #b2bfdc;
  line-height: 40px;
}

ul.sidebar .sidebar-list .sidebar-sublist a.active {
  color: #fff;
  border-left: 3px solid #fff;
  background: #2d3e63;
}

a.sidebarm {
  width: 70px;
  text-align: center;
}

.amp-title {
  font-size: 12px;
  font-family:'Verdana';
  color: white;
}

.sidebar-footer {
  height:70px
}
