<!--
 to be completly refactor in pur bootstrap classes in v1.1
-->

<div id="sidebar-wrapper" *ngIf="sidebarDisplay=='normal'">

  <ul class="sidebar">
    <li class="sidebar-main">
      <a (click)="minimize()" class="interactive amp-title">
        <!--<img src="/assets/images/amp.png" alt="amp" class="img-rounded" style="max-height:35px">-->
        AMP
        <span class="menu-icon glyphicon glyphicon-transfer"></span>
      </a>
    </li>
    <li class="sidebar-title"><span></span></li>

    <li class="sidebar-list">
      <a routerLink="/amp/dashboard">
        Dashboard
        <span class="menu-icon fa fa-tachometer"></span>
      </a>
    </li>

    <li class="sidebar-list">
      <a routerLink="/amp/stacks">
        Stacks
        <span class="menu-icon fa fa-server"></span></a>
    </li>

    <li class="sidebar-list">
      <a routerLink="/amp/logs">
        Logs
        <span class="menu-icon fa fa-list-alt"></span>
      </a>
    </li>

    <li class="sidebar-list">
      <a routerLink="/amp/metrics/global/single/all">
        Metrics
        <span class="menu-icon glyphicon glyphicon-stats"></span></a>
    </li>

    <li class="sidebar-list">
      <a routerLink="/amp/nodes">
        Nodes
        <span class="menu-icon glyphicon glyphicon-hdd"></span>
      </a>
    </li>

    <li class="sidebar-title"><span>Settings</span></li>

    <li class="sidebar-list">
      <a routerLink="/amp/organizations">
        Organizations
        <span class="menu-icon glyphicon glyphicon-book"></span>
      </a>
    </li>

    <li class="sidebar-list">
      <a routerLink="/amp/users">
        Users
        <span class="menu-icon fa fa-user-plus"></span>
      </a>
    </li>

    <li class="sidebar-list">
      <a routerLink="/amp/password">
        Password
        <span class="menu-icon fa fa-user"></span>
      </a>
    </li>

  </ul>
  <div class="sidebar-footer">
    <div class="col-xs-12" style="height:20px;padding-top:5px;padding-bottom:5px">
      <a>
        <i class="fa fa-github" aria-hidden="true"></i>
        AMP {{ serverVersion }}
      </a>
    </div>
    <div *ngIf="serverVersion!==portalVersion" class="col-xs-12" style="height:20px;padding-top:5px;padding-bottom:5px">
      <a style="color:red">
        <i class="fa fa-github" aria-hidden="true" style="color:red"></i>
        PortalVersion: {{ portalVersion }}
      </a>
    </div>
  </div>
</div>

<div *ngIf="sidebarDisplay=='mini'" id="sidebar-wrapper" style="width:70px;margin-right:0px;padding-right:0px">
  <ul class="sidebar" style="width:70px;margin-right:0px;padding-right:0px">

    <li class="sidebar-list">
      <a class="sidebarm" (click)="minimize()">
        <span style="color:white;font-size: 18px;margin-top:20px;margin-bottom:25px" class="menu-icon glyphicon glyphicon-transfer"></span>
      </a>
    </li>

    <li class="sidebar-list" tooltipLabel="dashboard" tooltip>
      <a class="sidebarm" routerLink="/amp/dashboard">
        <span class="menu-icon fa fa-tachometer"></span>
      </a>
    </li>

    <li class="sidebar-list" tooltipLabel="stacks" tooltip>
      <a class="sidebarm" routerLink="/amp/stacks">
        <span class="menu-icon fa fa-server"></span>
      </a>
    </li>

    <li class="sidebar-list" tooltipLabel="logs" tooltip>
      <a class="sidebarm" routerLink="/amp/logs">
        <span class="menu-icon fa fa-list-alt"></span>
      </a>
    </li>

    <li class="sidebar-list" tooltipLabel="stats" tooltip>
      <a class="sidebarm" routerLink="/amp/metrics/global/single/all">
        <span class="menu-icon glyphicon glyphicon-stats"></span>
      </a>
    </li>

    <li class="sidebar-list" tooltipLabel="nodes" tooltip>
      <a class="sidebarm" routerLink="/amp/nodes">
        <span class="menu-icon glyphicon glyphicon-hdd"></span>
      </a>
    </li>

    <li class="sidebar-list" tooltipLabel="organizations" tooltip>
      <a class="sidebarm" routerLink="/amp/organizations">
        <span class="menu-icon glyphicon glyphicon-book"></span>
      </a>
    </li>

    <li class="sidebar-list" tooltipLabel="users" tooltip>
      <a class="sidebarm" routerLink="/amp/users">
        <span class="menu-icon fa fa-user-plus"></span>
      </a>
    </li>

    <li class="sidebar-list" tooltipLabel="password" tooltip>
      <a class="sidebarm" routerLink="/amp/password">
        <span class="menu-icon fa fa-user"></span>
      </a>
    </li>

  </ul>
</div>
