
<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <div class="panel panel-default" style="margin-bottom:5px">
      <div class="panel-body" style="padding-bottom:5px">
        <div class="panel-body" style="padding:10px">
          <div>
            <div class="pull-left">
              <span class="glyphicon glyphicon-book" aria-hidden="true"></span> Organization</div>
              <div class="pull-right" style="color:blue">{{organization.name}}</div>
          </div>
        </div>
        <div class="panel-body" style="padding:10px">
          <div>
            <div class="pull-left">
              <span class="fa fa-user-plus" aria-hidden="true"></span> Team creation</div>
          </div>
        </div>
        <div style="margin: 10px 30px 10px 30px">
          <form class="form-horizontal" style="margin-top:20px" (ngSubmit)="create(f)" #f="ngForm">
            <div class="form-group">
              <input
                ngModel required
                type="text"
                class="form-control"
                pattern="^[a-z0-9\-]{3,128}$"
                name="name"
                id="name"
                placeholder="name"
                #name="ngModel">
                <span class="help-block" *ngIf="!name.valid && name.touched">Name should be lowercase and must not start by a number</span>
            </div>

            <span class="help-block" style="color:red;margin-left:20px">{{ messageError }}</span>

            <div class="form-group">
              <div class="panel panel-default" style="border-style:none">
                <div class="btn-group" role="group" aria-label="...">
                  <button [disabled]="!f.valid" type="button" class="btn btn-primary" autofocus type="submit"><i class="glyphicon glyphicon-book"></i> Create</button>
                  <button class="btn btn-primary" (click)="cancel()">
                    <i class="glyphicon glyphicon-user" aria-hidden="true"></i>
                    Cancel
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
