
app-graph-line {
  position: absolute;
}

.d3-chart {
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
}

.d3-chart .axis path,
.d3-chart .axis line {
  stroke: #999;
}

.d3-chart .axis text {
  fill: #999;
}

.line {
  fill: none;
  stroke-width: 2px;
}

.selectedLine {
  fill: none;
  stroke-width: 3px;
}

.info {
  font-size: 12px;
}

.grid line {
  stroke: lightgrey;
  stroke-opacity: 0.7;
  shape-rendering: crispEdges;
}


.grid path {
  stroke-width: 0;
}

.axis {
  color: black;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.focus circle {
  fill: none;
  stroke: steelblue;
}

.text-label {
  font: 12px sans-serif;
}
