<div class="row">
  <div class="col-lg-12 col-md-12 col-xs-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <div>
          <div class="pull-left">
            <span class="fa fa-server" aria-hidden="true"></span>
            Service: {{ dockerServicesService.currentService.name }}
          </div>
        </div>
      </div>

      <div class="panel-body">
        <div classes="col-lg-12">
          <div class="pull-left">
            <div class="btn-group" role="group" aria-label="...">
              <button type="button" class="btn btn-primary" (click)="returnBack()">
                <i class="glyphicon glyphicon-backward"></i>
              </button>
              <button type="button" class="btn btn-primary"
                (click)="logs(dockerContainersService.currentContainer.id)">
                <i class="glyphicon glyphicon-list-alt" aria-hidden="true"></i>
                Logs
              </button>
              <button type="button"
                class="btn btn-primary"
                (click)="metrics(dockerContainersService.currentContainer.id)">
                <i class="glyphicon glyphicon-stats" aria-hidden="true"></i>
                Metrics
              </button>
            </div>
          </div>
          <div class="pull-right">
            <input type="text"
              #filter
              id="filter"
              placeholder="Filter..."
              class="form-control"
              (keyup)="listService.filter(filter.value)"/>
          </div>
        </div>
      </div>

      <div class="row">
        <div classes="no-padding">
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th></th>
                  <th>
                    <a>
                      Id
                      <span (click)="listService.order('id', 1)" class="glyphicon glyphicon-chevron-down"></span>
                      <span (click)="listService.order('id', -1)" class="glyphicon glyphicon-chevron-up"></span>
                    </a>
                  </th>
                  <th>
                    <a>
                      Image
                      <span (click)="listService.order('image', 1)" class="glyphicon glyphicon-chevron-down"></span>
                      <span (click)="listService.order('image', -1)" class="glyphicon glyphicon-chevron-up"></span>
                    </a>
                  </th>
                  <th>
                    <a>
                      State
                      <span (click)="listService.order('state', 1)" class="glyphicon glyphicon-chevron-down"></span>
                      <span (click)="listService.order('state', -1)" class="glyphicon glyphicon-chevron-up"></span>
                    </a>
                  </th>
                  <th>
                    <a>
                      Desired state
                      <span (click)="listService.order('desiredState', 1)" class="glyphicon glyphicon-chevron-down"></span>
                      <span (click)="listService.order('desiredState', -1)" class="glyphicon glyphicon-chevron-up"></span>
                    </a>
                  </th>
                  <th>
                    <a>
                      Node Id
                      <span (click)="listService.order('nodeId', 1)" class="glyphicon glyphicon-chevron-down"></span>
                      <span (click)="listService.order('nodeId', -1)" class="glyphicon glyphicon-chevron-up"></span>
                    </a>
                  </th>
                  <<th></th>
                </tr>
              </thead>
              <tbody>
                <tr (click)="selectContainer(cont.id)" [style.color]=getColor(cont) *ngFor="let cont of listService.getData()">
                  <td><input type="checkbox" [checked]="dockerContainersService.currentContainer.id===cont.id"></td>
                  <td class="{{select_class}}">{{ cont.shortId }}</td>
                  <td class="{{select_class}}">{{ cont.image }}</td>
                  <td class="{{select_class}}">{{ cont.state }}</td>
                  <td class="{{select_class}}">{{ cont.desiredState }}</td>
                  <td class="{{select_class}}">{{ cont.nodeId }}</td>
                  <td>
                    <a>details</a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
