<div class="row">
  <div class="col-lg-12 col-md-12 col-xs-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <div>
          <div class="pull-left">
            <span class="fa fa-server" aria-hidden="true"></span> Stacks</div>
          <div class="pull-right">
            Items per page:
            <select  ng-change="changePaginationCount()">
              <option value="0">All</option>
              <option value="10">10</option>
              <option value="25">25</option>
              <option value="50">50</option>
              <option value="100">100</option>
            </select>
          </div>
        </div>
      </div>

      <div class="panel-body">
        <div classes="col-lg-12">
          <div class="pull-left">
            <div class="btn-group" role="group" aria-label="...">
              <button type="button" class="btn btn-danger" ng-click="removeAction()">
                <i class="fa fa-trash space-right" aria-hidden="true"></i>Remove</button>
              <button type="button" class="btn btn-primary" routerLink="/amp/stack-deploy">
                <i class="fa fa-user-plus" aria-hidden="true"></i> Deploy</button>
            </div>
          </div>
          <div class="pull-right">
            <input type="text"
              #filter
              id="filter"
              placeholder="Filter..."
              class="form-control"
              (keyup)="listService.filter(filter.value)"/>
          </div>
        </div>
      </div>

      <div class="row">
        <div classes="no-padding">
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>
                    <input type="checkbox" />
                  </th>
                  <th>
                    <a>
                      Id
                      <span (click)="listService.order('id', 1)" class="glyphicon glyphicon-chevron-down"></span>
                      <span (click)="listService.order('id', -1)" class="glyphicon glyphicon-chevron-up"></span>
                    </a>
                  </th>
                  <th>
                    <a>
                      Name
                      <span (click)="listService.order('name', 1)" class="glyphicon glyphicon-chevron-down"></span>
                      <span (click)="listService.order('name', -1)" class="glyphicon glyphicon-chevron-up"></span>
                    </a>
                  </th>
                  <th>
                    <a>
                      Owner
                      <span (click)="listService.order('ownerName', 1)" class="glyphicon glyphicon-chevron-down"></span>
                      <span (click)="listService.order('ownerName', -1)" class="glyphicon glyphicon-chevron-up"></span>
                    </a>
                  </th>
                  <th>
                    <a>
                      Owner type
                      <span (click)="listService.order('ownerType', 1)" class="glyphicon glyphicon-chevron-down"></span>
                      <span (click)="listService.order('ownerType', -1)" class="glyphicon glyphicon-chevron-up"></span>
                    </a>
                  </th>
                  <th>
                    <a>
                      Services
                      <span (click)="listService.orderNum('services', 1)" class="glyphicon glyphicon-chevron-down"></span>
                      <span (click)="listService.orderNum('services', -1)" class="glyphicon glyphicon-chevron-up"></span>
                    </a>
                  </th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr class="ng-scope" *ngFor="let stack of listService.getData()">
                  <td><input type="checkbox" ng-change="selectItem(stack)" class="ng-pristine ng-untouched ng-valid ng-empty"></td>
                  <td class="ng-binding">{{ stack.id }}</td>
                  <td class="ng-binding">{{ stack.name }}</td>
                  <td class="ng-binding"> {{ stack.ownerName }}</td>
                  <td class="ng-binding"> {{ stack.ownerType }}</td>
                  <td class="ng-binding"> {{ stack.services }}</td>
                  <td>
                    <a ui-sref="user({id: user.Id})" href="#/stacks/1">
                      <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Update</a>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="pull-left pagination-controls">
              <nav aria-label="Page navigation">
                <ul class="pagination">
                  <li>
                    <a aria-label="Previous" (click)="listService.setPageIndex(-1,0)">
                      <span aria-hidden="true">&laquo;</span>
                    </a>
                  </li>
                  <li><a (click)="listService.setPageIndex(0,1)">1</a></li>
                  <li><a (click)="listService.setPageIndex(0,2)">2</a></li>
                  <li><a (click)="listService.setPageIndex(0,3)">3</a></li>
                  <li><a (click)="listService.setPageIndex(0,4)">4</a></li>
                  <li><a (click)="listService.setPageIndex(0,5)">5</a></li>
                  <li>
                    <a (click)="listService.setPageIndex(1, 0)" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
