<div id="sidebar-wrapper">
    <ul class="sidebar">
      <li class="sidebar-title">
        <span>Active swarm</span>
      </li>
      <li class="sidebar-title">
        <select class="form-control custom-select" name="endpoint" [(ngModel)]="swarmsService.currentSwarm" #endpoint>
          <option *ngFor="let value of swarmsService.swarms" [ngValue]="value">{{value.name}}</option>
        </select>
      </li>
      <li class="sidebar-title"><span></span></li>

      <li class="sidebar-list">
        <a (click)="menuService.setItemMenu('dashboard', 'Dashboard view', '')">
          Dashboard
          <span class="menu-icon fa fa-tachometer"></span>
        </a>
      </li>

      <li class="sidebar-list">
        <a (click)="menuService.setItemMenu('stacks', 'Stack list', '')">
          Stacks
          <span class="menu-icon fa fa-server"></span></a>
      </li>

      <li class="sidebar-list">
        <a (click)="menuService.setItemMenu('logs', 'Logs view', '')">
          Logs
          <span class="menu-icon fa fa-list-alt"></span>
        </a>
      </li>

      <li class="sidebar-list">
        <a (click)="menuService.setItemMenu('metrics', 'Metrics view', '')">
          Metrics
          <span class="menu-icon fa fa-server"></span></a>
      </li>

      <li class="sidebar-list">
        <a (click)="menuService.setItemMenu('nodes', 'Node list', '')">
          Nodes
          <span class="menu-icon fa fa-plug"></span>
        </a>
      </li>

      <li class="sidebar-list">
        <a (click)="menuService.setItemMenu('swarms', 'Swarm list', '')">
          Swarms
          <span class="menu-icon fa fa-plug"></span>
        </a>
      </li>

      <li class="sidebar-list">
        <a (click)="menuService.setItemMenu('function', 'Function list', '')">
          Functions
          <span class="menu-icon fa fa-lock"></span>
        </a>
      </li>

      <li class="sidebar-title"><span>Users settings</span></li>

      <li class="sidebar-list">
        <a (click)="menuService.setItemMenu('users', 'User list', '')">
          Users
          <span class="menu-icon fa fa-user"></span>
        </a>
      </li>

    </ul>
    <div class="sidebar-footer">
      <div class="col-xs-12">
        <a href="https://github.com/atomiqio/atomiq" target="_blank">
          <i class="fa fa-github" aria-hidden="true"></i>
          AMP 0.9.0
        </a>
      </div>
    </div>
  </div>
