
<div class="row">
  <div class="col-lg-12 col-md-12 col-xs-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <div>
          <div class="pull-left">
            <span class="fa fa-server" aria-hidden="true"></span>
            Stack: {{ dockerStacksService.currentStack.name }}
          </div>
        </div>
      </div>

      <div class="panel-body">
        <div classes="col-lg-12">
          <div class="pull-left">
            <div class="btn-group" role="group" aria-label="...">
              <button type="button"
                class="btn btn-primary"
                (click)="returnBack()">
                <i class="glyphicon glyphicon-backward"></i>
              </button>
              <button type="button"
                class="btn btn-primary"
                [disabled]="dockerServicesService.currentService.id==''"
                (click)="logs(dockerServicesService.currentService.name)">
                <i class="glyphicon glyphicon-list-alt" aria-hidden="true"></i>
                Logs
              </button>
              <button type="button"
                class="btn btn-primary"
                [disabled]="dockerServicesService.currentService.id==''"
                (click)="metrics(dockerServicesService.currentService.name)">
                <i class="glyphicon glyphicon-stats" aria-hidden="true"></i>
                Metrics
              </button>
              <button type="button"
                class="btn btn-primary"
                [disabled]="dockerServicesService.currentService.id==''"
                (click)="scaleModeToggle()">
                <i class="glyphicon glyphicon-resize-vertical" aria-hidden="true"></i>
                Scale
              </button>
              <div *ngIf="scaleMode" class="pull-left" style="margin-top:2px;padding:1px;width:100px">
                <input
                  type="text"
                  class="form-control text"
                  [placeholder]="dockerServicesService.currentService.totalTasks"
                  #scaleNumber
                  (keyup.enter)="scale(scaleNumber.value)">
              </div>
            </div>
          </div>
          <div class="pull-right">
            <input type="text"
              #filter
              id="filter"
              placeholder="Filter..."
              class="form-control"
              (keyup)="listService.filter(filter.value)"/>
          </div>
        </div>
      </div>

      <span class="help-block" style="color:red;margin-left:20px">{{ message }}</span>

      <div class="row">
        <div classes="no-padding">
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th></th>
                  <th>
                    <a>
                      Id
                      <span (click)="listService.order('id', 1)" class="glyphicon glyphicon-chevron-down"></span>
                      <span (click)="listService.order('id', -1)" class="glyphicon glyphicon-chevron-up"></span>
                    </a>
                  </th>
                  <th>
                    <a>
                      Name
                      <span (click)="listService.order('name', 1)" class="glyphicon glyphicon-chevron-down"></span>
                      <span (click)="listService.order('name', -1)" class="glyphicon glyphicon-chevron-up"></span>
                    </a>
                  </th>
                  <th>
                    <a>
                      Mode
                      <span (click)="listService.order('mode', 1)" class="glyphicon glyphicon-chevron-down"></span>
                      <span (click)="listService.order('mode', -1)" class="glyphicon glyphicon-chevron-up"></span>
                    </a>
                  </th>
                  <th>
                    <a>
                      Status
                      <span (click)="listService.order('status', 1)" class="glyphicon glyphicon-chevron-down"></span>
                      <span (click)="listService.order('status', -1)" class="glyphicon glyphicon-chevron-up"></span>
                    </a>
                  </th>
                  <th>
                    <a>
                      Image
                      <span (click)="listService.order('image', 1)" class="glyphicon glyphicon-chevron-down"></span>
                      <span (click)="listService.order('image', -1)" class="glyphicon glyphicon-chevron-up"></span>
                    </a>
                  </th>
                  <th>
                    <a>
                      Tag
                      <span (click)="listService.order('tag', 1)" class="glyphicon glyphicon-chevron-down"></span>
                      <span (click)="listService.order('tag', -1)" class="glyphicon glyphicon-chevron-up"></span>
                    </a>
                  </th>
                  <th>
                    <a>
                      Containers
                      <span (click)="listService.orderNum('readyTasks', 1)" class="glyphicon glyphicon-chevron-down"></span>
                      <span (click)="listService.orderNum('readyTasks', -1)" class="glyphicon glyphicon-chevron-up"></span>
                    </a>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr (click)="selectService(service.name)" [style.color]=getColor(service) *ngFor="let service of listService.getData()">
                  <td><input type="checkbox" [checked]="dockerServicesService.currentService.name===service.name"></td>
                  <td>{{ service.id }}</td>
                  <td>{{ service.shortName }}</td>
                  <td>{{ service.mode }}</td>
                  <td>{{ service.status }}</td>
                  <td>{{ service.image }}</td>
                  <td>{{ service.tag }}</td>
                  <td>
                    <a (click)="containerList(service.id)">{{service.replicas}}</a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
