<div>
  <table>
    <thead>
      <th>Service Name</th>
      <th>Message</th>
    </thead>
    <tbody>
      {{#each logs as log}}
        <tr>
            <td class='service'>{{log.service_name}}</td>
            <td class='message'>{{log.message}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>

<script>
  export default {
    data () {
      return {
        logs: []
      }
    }
  }
</script>

<style>
  div {
    color: #eee;
    background-color: #222;
    font-family: monospace;
    padding: 0.5em;
    border-radius: 0.25em;
  }
  table {
    border-collapse: collapse;
  }
  thead {
    white-space: nowrap;
  }
  .service {
    white-space: nowrap;
    padding-right: 2em;
  }
  .message {
    white-space: pre;
    height: 1em;
  }
</style>