<h1>Stack Edit</h1>
<label>Name: <input bind:value='name'></label>
<CodeMirrorYaml bind:yaml></CodeMirrorYaml>
{{#if error}}
  <DisplayError message='{{error}}'></DisplayError>
{{else}}
  <button on:click='create()'>Create</button>
{{/if}}


<script>
  import CodeMirrorYaml from './CodeMirrorYaml.html'
  import DisplayError from './DisplayError.html'
  import yamlParser from 'yamljs'
  import AmpApi from '../api/index.js'
  const api = new AmpApi()

  const stackyaml = `services:
  python:
    image: tutum/quickstart-python
    public:
    - name: python
      internal_port: 80
    replicas: 3
  go:
    image: htilford/go-redis-counter
    public:
    - name: go
      internal_port: 80
    replicas: 3
  redis:
    image: redis`

  export default {
    components: {
      CodeMirrorYaml,
      DisplayError,
    },

    data () {
      return {
        name: 'counter',
        yaml: stackyaml,
      };
    },

    computed: {
      stackSpec: (name, yaml) => {
        try {
          const spec = yamlParser.parse(yaml)
          const stackSpec = {
            name,
            services: [],
            networks: [],
            is_public: true
          }

          for (const serviceName in spec.services) {
            const service = spec.services[serviceName]
            if (!service) {
              throw new Error('Error processing: ' + serviceName)
            }
            const serviceSpec = {
              image: service.image,
              name: serviceName
            }
            if (service.replicas) {
              serviceSpec.replicated = {
                replicas: service.replicas
              }
            }
            if (service.public) {
              serviceSpec.publish_specs = service.public
            }
            stackSpec.services.push(serviceSpec)
          }
          return stackSpec
        } catch (parseError) {
          return {parseError}
        }
      },
      error (stackSpec) {
        return stackSpec.parseError ?
          `${stackSpec.parseError.message} on line ${stackSpec.parseError.parsedLine}` : ''
      }
    },

    methods: {
      create () {
        api.createStack(this.get('stackSpec')).then(stack => console.log(stack))
      }
    }
  };
</script>

<style>
  button {
    cursor: pointer;
  }
  label, input {
    vertical-align: middle;
  }
  input {
    padding: 0.25em;
    border-radius: 0.5em;
  }
</style>