<h1>Stacks</h1>
<table>
  <thead>
    <tr>
      <th>Service</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    {{#each stacks as stack}}
      <tr on:click='displayDetails(stack)'>
        <td>{{stack.name}}</td>
        <td>{{stack.state}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
{{#if error}}
  <DisplayError bind:error></DisplayError>
{{/if}}
{{#if stack}}
  {{#if stack.state == "Stopped"}}
    <button on:click="start(stack)">start</button>
    <button on:click="remove(stack)">remove</button>
  {{/if}}
  {{#if stack.state == "Running"}}
    <button on:click="stop(stack)">stop</button>
    <pre>{{tasks}}</pre>
    {{#if links.length}}
      <div class='links'>
        <h3>Links</h3>
        {{#each links as link}}
        <div><a href="{{link.href}}">{{link.text}}</a></div>
        {{/each}}
      </div>
    {{/if}}
  {{/if}}
{{/if}}

{{#if logs.length}}
  <LogDisplay logs='{{logs}}'></LogDisplay>
{{/if}}

<script>
  import LogDisplay from './LogDisplay.html'
  import DisplayError from './DisplayError.html'
  import AmpApi from '../api/index.js'
  const api = new AmpApi()

  export default {
    onrender () {
      this.setStacks()
    },
    data () {
      return {
        stacks: [],
        tasks: '',
        logs: [],
        stack: null,
        details: null,
        error: '',
      }
    },
    methods: {
      async getStacks() {
        return await api.stacks({
          all: true
        })
      },
      async setStacks () {
        try {
          const stacks = await this.getStacks()
          this.set({stacks})
        } catch (error) {
          this.set({error: error.message})
        }
      },
      async setTasks (stack) {
        const tasks = await stack.tasks()
        this.set({tasks})
      },
      async setLogs (stack) {
        const logs = await stack.logs()
        this.set({logs})
      },
      async setDetails (stack) {
        const details = await stack.details()
        this.set({details})
      },
      async displayDetails (stack) {
        this.set({stack})
        const promises = []
        if (stack.state == "Running") {
          promises.push(this.setTasks(stack))
        }
        promises.push(this.setDetails(stack))
        promises.push(this.setLogs(stack))
        try {
          await Promise.all(promises)
        } catch (error) {
          this.set({error: error.message})
        }
      },
      async start (stack) {
        try {
          await stack.start()
          const stacks = await this.getStacks()
          this.set({stacks})
          await this.displayDetails(stack)
        } catch (error) {
          this.set({error: error.message})
        }
      },
      async stop (stack) {
        try {
          await stack.stop()
          const stacks = await this.getStacks()
          this.set({stacks})
          await this.displayDetails(stack)
        } catch (error) {
          this.set({error: error.message})
        }
      },
      async remove (stack) {
        try {
          await stack.remove()
          const stacks = await this.getStacks()
          this.set({
            stacks,
            tasks: '',
            logs: [],
            stack: null,
            details: null,
          })
        } catch (error) {
          this.set({error: error.message})
        }
      }
    },
    components: {
      LogDisplay,
      DisplayError,
    },
    computed: {
      links (details) {
        const links = []
        if (details && details.services) {
          for (const service of details.services) {
            if (service.publish_specs) {
              for (const spec of service.publish_specs) {
                links.push({
                  href: `http://${spec.name}.${details.name}.local.atomiq.io/`,
                  text: `${service.name} - ${spec.name}`,
                })
              }
            }
          }
        }
        return links
      }
    }
  }
</script>

<style>
  table {
    text-align: left;
    font-family: monospace;
    border-collapse: collapse;
  }
  td {
    padding-right: 1em;
  }
  tbody tr {
    cursor: pointer;
  }
  tbody tr:focus, tbody tr:hover {
    background-color: #eee;
  }
  button {
    cursor: pointer;
  }
  .links {
    padding-bottom: 1em;
  }
</style>
