<h1>Stack Edit</h1>
<label>Name: <input bind:value='name'></label>
<CodeMirrorYaml bind:yaml></CodeMirrorYaml>
{{#if error}}
  <DisplayError bind:error></DisplayError>
{{else}}
  <button on:click='create()'>Create</button>
{{/if}}


<script>
  import CodeMirrorYaml from './CodeMirrorYaml.html'
  import DisplayError from './DisplayError.html'
  import yamlParser from 'yamljs'
  import AmpApi from '../api/index.js'
  const api = new AmpApi()

  export default {
    components: {
      CodeMirrorYaml,
      DisplayError,
    },

    data () {
      return {
        name: '',
        yaml: '',
        createError: null,
      };
    },

    computed: {
      stackSpec: (name, yaml) => {
        if (yaml === '') {
          return {}
        }
        try {
          const spec = yamlParser.parse(yaml)
          const stackSpec = {
            name,
            services: [],
            networks: [],
            is_public: true
          }

          for (const serviceName in spec.services) {
            const service = spec.services[serviceName]
            if (!service) {
              throw new Error('Error processing: ' + serviceName)
            }
            const serviceSpec = {
              image: service.image,
              name: serviceName
            }
            if (service.replicas) {
              serviceSpec.replicated = {
                replicas: service.replicas
              }
            }
            if (service.public) {
              serviceSpec.publish_specs = service.public
            }
            stackSpec.services.push(serviceSpec)
          }
          return stackSpec
        } catch (parseError) {
          return {parseError}
        }
      },

      error (stackSpec, createError) {
        if (stackSpec.parseError) {
          return `${stackSpec.parseError.message} on line ${stackSpec.parseError.parsedLine}`
        }
        if (createError) {
          return createError.message
        }
        return ''
      }
    },

    methods: {
      async create () {
        this.set({createError: null})
        try {
          await api.createStack(this.get('stackSpec'))
          this.set({
            name: '',
            yaml: '',
          })
        } catch (createError) {
          this.set({createError})
        }
      }
    }
  };
</script>

<style>
  button {
    cursor: pointer;
  }
  label, input {
    vertical-align: middle;
  }
  input {
    padding: 0.25em;
    border-radius: 0.5em;
  }
</style>
