<div>
  <table>
    <thead>
      <th class='service'>Service Name</th>
      <th class='cpu'>CPU %</th>
      <th class='mem_usage'>Mem usage</th>
      <th class='mem'>Mem %</th>
      <th class='io'>Disk IO read/write</th>
      <th class='net'>Net Rx/Tx</th>
    </thead>
    <tbody>
      {{#each stats as stat}}
        <tr>
            <td class='service'>{{stat.service_name}}</td>
            <td class='cpu'>{{stat.cpu ? stat.cpu.toFixed(2) : '0.00'}}%</td>
            <td class='mem_usage'>{{formatBytes(stat.mem_usage)}}</td>
            <td class='mem'>{{stat.mem.toFixed(2)}}%</td>
            <td class='io'>
              {{stat.io_read ? formatBytes(stat.io_read) : 0}}
              /
              {{stat.io_write ? formatBytes(stat.io_write) : 0}}
            </td>
            <td class='net'>
              {{stat.net_rx_bytes ? formatBytes(stat.net_rx_bytes) : 0}}
              /
              {{stat.net_tx_bytes ? formatBytes(stat.net_tx_bytes) : 0}}
            </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>

<script>
  import bytes from 'bytes'
  export default {
    data () {
      return {
        stats: [
          {
            "time": "1481576322",
            "datacenter": "dc1",
            "host": "f164a8947317",
            "container_id": "72f5ffa1876bef5d5e19db7a0aef03251da4ce53e95d332ee3d76098e20a7555",
            "container_name": "nats.1.t659l69vkdiciahmt8dbzrwhp",
            "container_image": "appcelerator/amp-nats-streaming@sha256",
            "service_id": "5gldmhqcgoot9kmqw34nwp2y9",
            "service_name": "nats",
            "task_id": "t659l69vkdiciahmt8dbzrwhp",
            "task_name": "nats.1.t659l69vkdiciahmt8dbzrwhp",
            "node_id": "h06abgzsjw1pbt0j90yk8a0uk",
            "type": "mem",
            "sort_type": "service",
            "number": 5,
            "cpu": 0.21265486390175306,
            "mem": 0.7736536401941855,
            "mem_usage": 16214425.6,
            "mem_limit": 16433152,
            "io_read": 495,
            "net_tx_bytes": 13660474,
            "net_rx_bytes": 13291165
          },
          {
            "time": "1481576323",
            "datacenter": "dc1",
            "host": "f164a8947317",
            "container_id": "ffcad5bb2fecd6630652c67875877038bbbcdbe4e217aa7ddbb445478fa55733",
            "container_name": "elasticsearch.1.owvrtdawbyhjmq1y5hvoazcmi",
            "container_image": "appcelerator/elasticsearch-amp@sha256",
            "service_id": "8kxy3n0naf4i3b8nav2q339ed",
            "service_name": "elasticsearch",
            "task_id": "owvrtdawbyhjmq1y5hvoazcmi",
            "task_name": "elasticsearch.1.owvrtdawbyhjmq1y5hvoazcmi",
            "node_id": "h06abgzsjw1pbt0j90yk8a0uk",
            "type": "mem",
            "sort_type": "service",
            "number": 5,
            "cpu": 3.3771784405971568,
            "mem": 15.959591616569861,
            "mem_usage": 334485094.4,
            "mem_limit": 345370624,
            "io_read": 13380,
            "io_write": 57504,
            "net_tx_bytes": 18675510,
            "net_rx_bytes": 8243374
          },
          {
            "time": "1481576322",
            "datacenter": "dc1",
            "host": "f164a8947317",
            "container_id": "3dff469cda3f3617da1b3b425dfbab5abe48d9dee760d0397eadeed0d1898515",
            "container_name": "haproxy.1.vzqfmrz5bnymqllsi15hbqri3",
            "container_image": "appcelerator/haproxy@sha256",
            "service_id": "9uixtwkx57vt9wo7nkzzcmo7s",
            "service_name": "haproxy",
            "task_id": "vzqfmrz5bnymqllsi15hbqri3",
            "task_name": "haproxy.1.vzqfmrz5bnymqllsi15hbqri3",
            "node_id": "h06abgzsjw1pbt0j90yk8a0uk",
            "type": "mem",
            "sort_type": "service",
            "number": 5,
            "cpu": 0.14876890403586637,
            "mem": 1.174063274415841,
            "mem_usage": 24606310.4,
            "mem_limit": 29802496,
            "io_read": 1130,
            "net_tx_bytes": 2972449,
            "net_rx_bytes": 4607655
          },
          {
            "time": "1481576322",
            "datacenter": "dc1",
            "host": "f164a8947317",
            "container_id": "8e28c28caa7ae933dc3a7903ada92433e6fe0a30e43c6b364c6d1d5cd6a54544",
            "container_name": "etcd.1.pm6rvi1dqno2gwlerg1l23rtn",
            "container_image": "appcelerator/etcd@sha256",
            "service_id": "a59symxx09ahy2ikix6eamhta",
            "service_name": "etcd",
            "task_id": "pm6rvi1dqno2gwlerg1l23rtn",
            "task_name": "etcd.1.pm6rvi1dqno2gwlerg1l23rtn",
            "node_id": "h06abgzsjw1pbt0j90yk8a0uk",
            "type": "mem",
            "sort_type": "service",
            "number": 5,
            "cpu": 0.7939014044598696,
            "mem": 1.5645838382101174,
            "mem_usage": 32790937.6,
            "mem_limit": 35905536,
            "io_read": 1335,
            "io_write": 18038,
            "net_tx_bytes": 273422,
            "net_rx_bytes": 193465
          },
          {
            "time": "1481576323",
            "datacenter": "dc1",
            "host": "f164a8947317",
            "container_id": "5fbe2f271cd21a23889b2693a5e0280eb0a687f424f03c19592169faf0380228",
            "container_name": "myCounter-redis.1.kmhf2ncoq04beieaq1zu40thb",
            "container_image": "redis@sha256",
            "service_id": "aeuaax3luk82lxipenaj9upf2",
            "service_name": "myCounter-redis",
            "task_id": "kmhf2ncoq04beieaq1zu40thb",
            "task_name": "myCounter-redis.1.kmhf2ncoq04beieaq1zu40thb",
            "node_id": "h06abgzsjw1pbt0j90yk8a0uk",
            "type": "mem",
            "sort_type": "service",
            "number": 5,
            "cpu": 0.11530289065949906,
            "mem": 0.4262462964844941,
            "mem_usage": 8933376,
            "mem_limit": 9146368,
            "io_read": 1695,
            "net_tx_bytes": 38336,
            "net_rx_bytes": 17486
          },
          {
            "time": "1481576322",
            "datacenter": "dc1",
            "host": "f164a8947317",
            "container_id": "672ab565f91dcb7c577935b85ef66713ab2320a766f7d51c07e9d2a2c21e032f",
            "container_name": "amp-log-worker.1.srqw5rrrxdsz7utwr8gfqaekn",
            "container_image": "appcelerator/amp",
            "service_id": "ahd4f8gs6hp9o94cm5oc0hlp8",
            "service_name": "amp-log-worker",
            "task_id": "srqw5rrrxdsz7utwr8gfqaekn",
            "task_name": "amp-log-worker.1.srqw5rrrxdsz7utwr8gfqaekn",
            "node_id": "h06abgzsjw1pbt0j90yk8a0uk",
            "type": "mem",
            "sort_type": "service",
            "number": 5,
            "cpu": 0.5464860399214299,
            "mem": 0.729993198821129,
            "mem_usage": 15299379.2,
            "mem_limit": 15426355.2,
            "io_read": 515,
            "net_tx_bytes": 19261889,
            "net_rx_bytes": 21183602
          },
          {
            "time": "1481576323",
            "datacenter": "dc1",
            "host": "f164a8947317",
            "container_id": "d7f93d7e9d299a1ff9da954b6703a86aa6d618511ae8a23dffbbb689b8e66908",
            "container_name": "kapacitor.1.u0puk6zppzbcnhbnq5dtc9r6d",
            "container_image": "appcelerator/kapacitor-amp@sha256",
            "service_id": "c5j0c0aa1tilmdrtmlsy1ky8g",
            "service_name": "kapacitor",
            "task_id": "u0puk6zppzbcnhbnq5dtc9r6d",
            "task_name": "kapacitor.1.u0puk6zppzbcnhbnq5dtc9r6d",
            "node_id": "h06abgzsjw1pbt0j90yk8a0uk",
            "type": "mem",
            "sort_type": "service",
            "number": 5,
            "cpu": 1.9464951259545453,
            "mem": 1.9388441122898084,
            "mem_usage": 40634777.6,
            "mem_limit": 45117440,
            "io_read": 1235,
            "io_write": 565,
            "net_tx_bytes": 95586612,
            "net_rx_bytes": 212150
          },
          {
            "time": "1481576322",
            "datacenter": "dc1",
            "host": "f164a8947317",
            "container_id": "956a563d24bdb96e0f22621e274f000932ba6e24a8a27f4ff4e84ae9fbc62a14",
            "container_name": "myCounter-go.3.ptlcx1ymcx8jrj42daz5kwsn5",
            "container_image": "htilford/go-redis-counter@sha256",
            "service_id": "ef6f21oq0ap0evgzryy5dpumn",
            "service_name": "myCounter-go",
            "task_id": "ptlcx1ymcx8jrj42daz5kwsn5",
            "task_name": "myCounter-go.3.ptlcx1ymcx8jrj42daz5kwsn5",
            "node_id": "h06abgzsjw1pbt0j90yk8a0uk",
            "type": "mem",
            "sort_type": "service",
            "number": 5,
            "mem": 0.358234507774451,
            "mem_usage": 7507968,
            "mem_limit": 8851456,
            "io_read": 420,
            "net_tx_bytes": 413814,
            "net_rx_bytes": 188449
          },
          {
            "time": "1481576322",
            "datacenter": "dc1",
            "host": "f164a8947317",
            "container_id": "41d10b1a1568ca609bacd5e8147422234ad66fe71b71fc31b57b2299b2918227",
            "container_name": "amp-agent.h06abgzsjw1pbt0j90yk8a0uk.m89hph72w323vitu9juipk5d6",
            "container_image": "appcelerator/amp",
            "service_id": "kpdedtxdepvtvaowsjv45apdz",
            "service_name": "amp-agent",
            "task_id": "m89hph72w323vitu9juipk5d6",
            "task_name": "amp-agent.h06abgzsjw1pbt0j90yk8a0uk.m89hph72w323vitu9juipk5d6",
            "node_id": "h06abgzsjw1pbt0j90yk8a0uk",
            "type": "mem",
            "sort_type": "service",
            "number": 5,
            "cpu": 0.22337883137037298,
            "mem": 0.6787498338792517,
            "mem_usage": 14225408,
            "mem_limit": 15351808,
            "io_read": 465,
            "net_tx_bytes": 2148981,
            "net_rx_bytes": 10566220
          },
          {
            "time": "1481576322",
            "datacenter": "dc1",
            "host": "f164a8947317",
            "container_id": "955b6e55494bcc50f483cb47bb29bd219e4077ec0d125526520b71eeee1cd94f",
            "container_name": "telegraf-haproxy.1.x7w84bghd8ixg863xgnx3asrb",
            "container_image": "appcelerator/telegraf@sha256",
            "service_id": "ngnr6aflfcjppw39lfgc27vd5",
            "service_name": "telegraf-haproxy",
            "task_id": "x7w84bghd8ixg863xgnx3asrb",
            "task_name": "telegraf-haproxy.1.x7w84bghd8ixg863xgnx3asrb",
            "node_id": "h06abgzsjw1pbt0j90yk8a0uk",
            "type": "mem",
            "sort_type": "service",
            "number": 5,
            "cpu": 1.4790391808731693,
            "mem": 0.7648590123437488,
            "mem_usage": 16030105.6,
            "mem_limit": 18042880,
            "io_read": 5,
            "net_tx_bytes": 1625595,
            "net_rx_bytes": 3890166
          },
          {
            "time": "1481576322",
            "datacenter": "dc1",
            "host": "f164a8947317",
            "container_id": "30e9d5cde89eff05f88e46b5e2cff014054038f553b6e909a9360f9aa04a500e",
            "container_name": "myCounter-python.3.to6dd33n9qzvjc003vyo1wq64",
            "container_image": "tutum/quickstart-python@sha256",
            "service_id": "pk6t5qphhlqf6dvx0o64jo1qr",
            "service_name": "myCounter-python",
            "task_id": "to6dd33n9qzvjc003vyo1wq64",
            "task_name": "myCounter-python.3.to6dd33n9qzvjc003vyo1wq64",
            "node_id": "h06abgzsjw1pbt0j90yk8a0uk",
            "type": "mem",
            "sort_type": "service",
            "number": 5,
            "cpu": 0.06900285338506115,
            "mem": 2.8701756580335998,
            "mem_usage": 60153856,
            "mem_limit": 60497920,
            "io_read": 5580,
            "net_tx_bytes": 583428,
            "net_rx_bytes": 250562
          },
          {
            "time": "1481576322",
            "datacenter": "dc1",
            "host": "f164a8947317",
            "container_id": "f6b3e05c8a16b93984a5b71e9673404c051a4ea706a7b009a2cec1e2b65eb423",
            "container_name": "influxdb.1.i6qtwt73ma2pesodf1vvdmk3n",
            "container_image": "appcelerator/influxdb-amp@sha256",
            "service_id": "pyoezwgqd6bxtksize0ujr6qk",
            "service_name": "influxdb",
            "task_id": "i6qtwt73ma2pesodf1vvdmk3n",
            "task_name": "influxdb.1.i6qtwt73ma2pesodf1vvdmk3n",
            "node_id": "h06abgzsjw1pbt0j90yk8a0uk",
            "type": "mem",
            "sort_type": "service",
            "number": 5,
            "cpu": 1.9711006923961325,
            "mem": 5.784129019144928,
            "mem_usage": 121225216,
            "mem_limit": 122716160,
            "io_read": 3485,
            "io_write": 1814,
            "net_tx_bytes": 83483484,
            "net_rx_bytes": 96921588
          },
          {
            "time": "1481576322",
            "datacenter": "dc1",
            "host": "f164a8947317",
            "container_id": "35d0fe0b15e8fb0bc20a23b80e68c204c42f2072e357d76e8a74beea82d65c39",
            "container_name": "grafana.1.3m2f3tf9ez4uu4gs2xvshrpov",
            "container_image": "appcelerator/grafana-amp@sha256",
            "service_id": "qa6wisp3k76bvog4unbx8pj91",
            "service_name": "grafana",
            "task_id": "3m2f3tf9ez4uu4gs2xvshrpov",
            "task_name": "grafana.1.3m2f3tf9ez4uu4gs2xvshrpov",
            "node_id": "h06abgzsjw1pbt0j90yk8a0uk",
            "type": "mem",
            "sort_type": "service",
            "number": 5,
            "cpu": 0.03822790957330178,
            "mem": 2.3770511026508965,
            "mem_usage": 49818828.8,
            "mem_limit": 51855360,
            "io_read": 3170,
            "io_write": 2890,
            "net_tx_bytes": 3865338,
            "net_rx_bytes": 296077
          },
          {
            "time": "1481576322",
            "datacenter": "dc1",
            "host": "f164a8947317",
            "container_id": "bede59002478e47729288ebecd100b73b0bb6b24a966729545ae666426cc5551",
            "container_name": "amp-ui.1.6ji5vufa5jc31utmcpy8i2p8k",
            "container_image": "appcelerator/amp-ui@sha256",
            "service_id": "qm3r8pjh7x44vjxpx7iiz129c",
            "service_name": "amp-ui",
            "task_id": "6ji5vufa5jc31utmcpy8i2p8k",
            "task_name": "amp-ui.1.6ji5vufa5jc31utmcpy8i2p8k",
            "node_id": "h06abgzsjw1pbt0j90yk8a0uk",
            "type": "mem",
            "sort_type": "service",
            "number": 5,
            "cpu": 0.008228632707774798,
            "mem": 4.141527060092715,
            "mem_usage": 86799155.2,
            "mem_limit": 124821504,
            "io_read": 18345,
            "net_tx_bytes": 440732,
            "net_rx_bytes": 172756
          },
          {
            "time": "1481576322",
            "datacenter": "dc1",
            "host": "f164a8947317",
            "container_id": "8c362fe6c987735f1013ff0f25f1062c49ea33738432920b1ad7297b2e76bf7e",
            "container_name": "registry.1.7uaqqgwrzvbo39zemp0h3wvn5",
            "container_image": "registry@sha256",
            "service_id": "qpvo78cdl2m9pkhgb3e8zb0dk",
            "service_name": "registry",
            "task_id": "7uaqqgwrzvbo39zemp0h3wvn5",
            "task_name": "registry.1.7uaqqgwrzvbo39zemp0h3wvn5",
            "node_id": "h06abgzsjw1pbt0j90yk8a0uk",
            "type": "mem",
            "sort_type": "service",
            "number": 5,
            "mem": 1.025453607360908,
            "mem_usage": 21491712,
            "mem_limit": 23220224,
            "io_read": 990,
            "net_tx_bytes": 427736,
            "net_rx_bytes": 175512
          },
          {
            "time": "1481576323",
            "datacenter": "dc1",
            "host": "f164a8947317",
            "container_id": "f164a8947317da2285c11edf47631639d1fab49244da112e5f83bc133da46c2e",
            "container_name": "telegraf-agent.h06abgzsjw1pbt0j90yk8a0uk.mzg44le7sx3xftc1nhe9f6bxq",
            "container_image": "appcelerator/telegraf@sha256",
            "service_id": "rxq3a1qultj7rdabutc80ql5f",
            "service_name": "telegraf-agent",
            "task_id": "mzg44le7sx3xftc1nhe9f6bxq",
            "task_name": "telegraf-agent.h06abgzsjw1pbt0j90yk8a0uk.mzg44le7sx3xftc1nhe9f6bxq",
            "node_id": "h06abgzsjw1pbt0j90yk8a0uk",
            "type": "mem",
            "sort_type": "service",
            "number": 5,
            "cpu": 2.589281065564152,
            "mem": 2.284453443194521,
            "mem_usage": 47878144,
            "mem_limit": 49721344,
            "io_read": 1285,
            "net_tx_bytes": 1243523,
            "net_rx_bytes": 79383139
          },
          {
            "time": "1481576322",
            "datacenter": "dc1",
            "host": "f164a8947317",
            "container_id": "dcfd0c4fb401ed3e616714836b45a7284515f82dcf05cf45a1fd3ebc5df46f11",
            "container_name": "amplifier-gateway.1.us8ns0ba92r13pt14m1y64o9c",
            "container_image": "appcelerator/amp",
            "service_id": "vvibvw3np1q277jzvedgkvln6",
            "service_name": "amplifier-gateway",
            "task_id": "us8ns0ba92r13pt14m1y64o9c",
            "task_name": "amplifier-gateway.1.us8ns0ba92r13pt14m1y64o9c",
            "node_id": "h06abgzsjw1pbt0j90yk8a0uk",
            "type": "mem",
            "sort_type": "service",
            "number": 5,
            "mem": 0.645916556570955,
            "mem_usage": 13537280,
            "mem_limit": 14880768,
            "io_read": 490,
            "net_tx_bytes": 565138,
            "net_rx_bytes": 422980
          },
          {
            "time": "1481576322",
            "datacenter": "dc1",
            "host": "f164a8947317",
            "container_id": "d18487c95c21f5063fdcf52d6b3088068075f6208c825b532e7e621a6207ae4c",
            "container_name": "amplifier.1.ampbn0ag94lnrbtz7w4tteymo",
            "container_image": "appcelerator/amp",
            "service_id": "xo6c2ymvg7mzz38n13lcn2hwb",
            "service_name": "amplifier",
            "task_id": "ampbn0ag94lnrbtz7w4tteymo",
            "task_name": "amplifier.1.ampbn0ag94lnrbtz7w4tteymo",
            "node_id": "h06abgzsjw1pbt0j90yk8a0uk",
            "type": "mem",
            "sort_type": "service",
            "number": 5,
            "cpu": 0.058215148710312636,
            "mem": 0.9967244897161486,
            "mem_usage": 20889600,
            "mem_limit": 21053440,
            "io_read": 725,
            "net_tx_bytes": 718685,
            "net_rx_bytes": 577977
          },
          {
            "time": "1481576323",
            "datacenter": "dc1",
            "host": "f164a8947317",
            "container_id": "9182af1017b3fc40459402af83d24342b8afab112b8fb575c986a667d916aa55",
            "container_name": "myCounter-haproxy.1.kceavj42fu4aripddi5hgz49j",
            "container_image": "appcelerator/haproxy@sha256",
            "service_id": "z0xk970biihhgwhgqk6hryp41",
            "service_name": "myCounter-haproxy",
            "task_id": "kceavj42fu4aripddi5hgz49j",
            "task_name": "myCounter-haproxy.1.kceavj42fu4aripddi5hgz49j",
            "node_id": "h06abgzsjw1pbt0j90yk8a0uk",
            "type": "mem",
            "sort_type": "service",
            "number": 5,
            "cpu": 0.08169306199512227,
            "mem": 0.9078010303395116,
            "mem_usage": 19025920,
            "mem_limit": 23392256,
            "io_read": 595,
            "net_tx_bytes": 1305961,
            "net_rx_bytes": 1070198
          }
        ]
      }
    },
    helpers: {
      formatBytes (number) {
        return bytes.format(number)
      }
    }
  }
</script>

<style>
  div {
    color: #eee;
    background-color: #222;
    font-family: monospace;
    padding: 0.5em;
    border-radius: 0.25em;
  }
  table {
    border-collapse: collapse;
  }
  thead {
    white-space: nowrap;
  }
  .service {
    text-align: left;
  }
  .cpu, .mem_usage, .mem {
    text-align: right;
    padding: 0 1em;
  }
  .io, .net {
    text-align: center;
  }
</style>