<h1>Topics</h1>
{{#each topics as topic}}
  <div>{{topic.name}} <button on:click='remove(topic)'>remove</button></div>
{{/each}}
<form on:submit='create(event)'>
  <input bind:value='name'>
  <button type='submit'>Create new Topic</button>
</form>
{{#if error}}
  <DisplayError bind:error></DisplayError>
{{/if}}

<script>
  import DisplayError from './DisplayError.html'
  import AmpApi from '../api/index.js'
  const api = new AmpApi()

  export default {
    components: {
      DisplayError
    },
    onrender () {
      this.setTopics()
    },
    data () {
      return {
        topics: [],
        name: '',
        error: '',
      }
    },
    methods: {
      async getTopics() {
        return await api.topics()
      },
      async setTopics() {
        try {
          const topics = await this.getTopics()
          this.set({topics})
        } catch (error) {
          this.set({error: error.message})
        }
      },
      async remove (topic) {
        try {
          await topic.remove()
          await this.setTopics()
        } catch (error) {
          this.set({error: error.message})
        }
      },
      async create (event) {
        if (event) {
          event.preventDefault()
        }
        try {
          await api.createTopic(this.get('name'))
          await this.setTopics()
          this.set({name:''})
        } catch (error) {
          this.set({
            error: error.message
          })
        }
      }
    }
  }
</script>
