
<div class="row">
  <div class="col-lg-12 col-md-12 col-xs-12">
    <div class="panel panel-default" style="border-style:none;margin-bottom:5px">
      <div class="panel-body" style="padding:05px 20px 5px 20px;margin-top:5px">
        <div class="pull-left"><span class="glyphicon glyphicon-stats" aria-hidden="true"></span> {{ dashboardName }}</div>
        <div class="pull-right" style="color:blue">{{ refName }}</div>
      </div>
      <div class="panel-body" style="padding:5px 20px 5px 20px">
        <div class="col-lg-12 col-md-12 col-xs-12">
          <button type="button" class="btn btn-primary" (click)=returnBack()>
            <i class="glyphicon glyphicon-backward"></i>
          </button>
          <div class="btn dropdown" style="padding-left:2px;padding-right:2px">
            <button class="dropdown btn btn-primary dropdown-toggle" type="button" id="timeperiod" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              Period: {{ periodTimeLabel }}
              <span class="caret" style="cursor:pointer;color:white"></span>
            </button>
            <div class="dropdown-menu" aria-labelledby="timeperiod">
              <li><a (click)="setTimePeriod('10 minutes','now-10m', '30s')">10 minutes</a></li>
              <li><a (click)="setTimePeriod('30 minutes','now-30m', '30s')">30 minutes</a></li>
              <li><a (click)="setTimePeriod('1 hours','now-60m', '1m')">1 hour</a></li>
              <li><a (click)="setTimePeriod('4 hours','now-4h', '5m')">4 hours</a></li>
              <li><a (click)="setTimePeriod('12 hours','now-12h', '10m')">12 hours</a></li>
              <li><a (click)="setTimePeriod('24 hours','now-24h', '30m')">24 hours</a></li>
              <li><a (click)="setTimePeriod('7 days','now-7d', '8h')">7 days</a></li>
              <li><a (click)="setTimePeriod('30 days','now-30d', '12h')">30 days</a></li>
              <li><a (click)="setTimePeriod('90 days','now-90d', '1d')">90 days</a></li>
              <li><a (click)="setTimePeriod('6 months','now-6M', '5d')">6 months</a></li>
              <li><a (click)="setTimePeriod('1 year','now-1y', '10d')">1 year</a></li>
              <li><a (click)="setTimePeriod('2 years','now-2y', '20d')">2 years</a></li>
              <li><a (click)="setTimePeriod('5 years','now-5y', '30d')">5 years</a></li>
            </div>
          </div>
          <div class="btn dropdown" style="padding-left:2px;padding-right:2px">
            <button class="dropdown btn btn-primary dropdown-toggle" type="button" id="refreshperiod" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              Refresh: {{ periodRefreshLabel }}
              <span class="caret" style="cursor:pointer;color:white"></span>
            </button>
            <div class="dropdown-menu" aria-labelledby="refreshperiod">
              <li><a (click)="setRefreshPeriod('10 sec','10s')">10 sec</a></li>
              <li><a (click)="setRefreshPeriod('30 sec','30s')">30 sec</a></li>
              <li><a (click)="setRefreshPeriod('1 min','1m')">1 min</a></li>
              <li><a (click)="setRefreshPeriod('2 min','2m')">2 min</a></li>
              <li><a (click)="setRefreshPeriod('5 min','5m')">5 min</a></li>
              <li><a (click)="setRefreshPeriod('10 min', '10m')">10 min</a></li>
              <li><a (click)="setRefreshPeriod('30 min','30m')">30 min</a></li>
              <li><a (click)="setRefreshPeriod('1 hour','1h')">1 hour</a></li>
            </div>
          </div>
          <button type="button" class="btn btn-primary" (click)=containerAvgToggle()>
            {{ containerAvg }}
          </button>
        </div>
      </div>
    </div>
    <div style="position:relative;overflow:hidden" class="graph-container panel panel-default">
      <div [style.height.px]="graphPanelHeight" [style.width.px]="graphPanelWidth" class="panel-body" style="padding-top:0px;padding-bottom:0px;margin-bottom:0px">
        <app-graph-line *ngFor="let graph of graphs"
          [style.top.px]="graph.y"
          [style.left.px]="graph.x"
          [style.width.px]="graph.width"
          [style.height.px]="graph.height"
          [graph]="graph">
        </app-graph-line>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="graph-bottom panel-body" style="padding-top:3px;padding-bottom:3px;margin-top:3px">
        <button *ngFor="let line of metricsService.lines"
          class="btn btn-default legend-item"
          [style.border-color]="line.color"
          [class.line-hidden]="!metricsService.lineVisibleMap[line.name]"
          (click)="metricsService.toggleLine(line.name)">
          {{ line.displayedName }}
        </button>
      </div>
    </div>
  </div>
</div>
