- service-create:
  cmd: amp service create
  args:
    - appcelerator/pinger
  options:
    - --name pinger
    - -p www:90:3000
  expectation: service-id

- service-list:
  cmd: docker service ls
  args:
  options:
  expectation: docker-service-list

# Commented out until Delay and APIcall (Blocking) implemented.
# - service-curl:
#   cmd: curl
#   args:
#     - localhost:90/ping
#   options:
#   expectation: ((.)|(\s))*(pong)((.)|(\s))*

- service-remove:
  cmd: amp service rm
  args:
    - pinger
  options:
    -
  expectation: service-id

- service-list:
  cmd: docker service ls
  args:
  options:
  expectation: docker-service-list
