<div class="row">
  <div class="col-lg-12 col-md-12 col-xs-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="pull-left"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>{{title}}</div>

      <div class="panel-body">
        <div classes="col-lg-12">
          <div class="pull-left">
            <div class="btn-group" role="group" aria-label="...">
              <button *ngIf="orgName"
                type="button"
                class="btn btn-primary"
                (click)=returnBack()>
                <i class="glyphicon glyphicon glyphicon-backward"></i>
              </button>
              <button
                type="button" class="btn btn-danger"
                [disabled]="selectedUser.name==''"
                (click)="removeUser()">
                <i class="fa fa-trash space-right" aria-hidden="true"></i>
                Remove
              </button>
              <button *ngIf="!orgName"
                type="button"
                class="btn btn-primary"
                routerLink="/amp/signup/internal">
                <i class="fa fa-user-plus" aria-hidden="true"></i>
                Add user
              </button>
            </div>
          </div>
          <div class="pull-right">
            <input
              #filter
              type="text"
              id="filter"
              placeholder="Filter..."
              class="form-control input-sm"
              (keyup)="listService.filter(filter.value)"/>
          </div>
        </div>
      </div>

      <span class="help-block" style="color:red;margin-left:20px">{{ message }}</span>

      <div class="row" [style.height.px]="listHeight" style="overflow-y:scroll;margin-bottom:30px">
        <div classes="no-padding">
          <div class="">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>
                    <input type="checkbox" (change)="selectAllItems()" />
                  </th>
                  <th>
                    <a>
                      Name
                      <span (click)="listService.order('name', 1)" class="glyphicon glyphicon-chevron-down"></span>
                      <span (click)="listService.order('name', -1)" class="glyphicon glyphicon-chevron-up"></span>
                    </a>
                  </th>
                  <th>
                    <a>
                      Email
                      <span (click)="listService.order('email', 1)" class="glyphicon glyphicon-chevron-down"></span>
                      <span (click)="listService.order('email', -1)" class="glyphicon glyphicon-chevron-up"></span>
                    </a>
                  </th>
                  <th>
                    <a>
                      Created
                      <span (click)="listService.order('date', 1)" class="glyphicon glyphicon-chevron-down"></span>
                      <span (click)="listService.order('date', -1)" class="glyphicon glyphicon-chevron-up"></span>
                    </a>
                  </th>
                  <th *ngIf="orgName">
                    <a>
                      Role
                      <span (click)="listService.order('role', 1)" class="glyphicon glyphicon-chevron-down"></span>
                      <span (click)="listService.order('role', -1)" class="glyphicon glyphicon-chevron-up"></span>
                    </a>
                  </th>
                  <th>
                    <a ui-sref="users">
                      Verified
                    </a>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr class="ng-scope" (click)=selectUser(user.name) *ngFor="let user of listService.getData()">
                  <td><input type="checkbox" [checked]="user.name===selectedUser.name" (click)=selectUser(user.name)></td>
                  <td>{{ user.name }}</td>
                  <td>{{ user.email }}</td>
                  <td>{{ user.createDate }}</td>
                  <td *ngIf="orgName">
                    <div class="btn dropdown" style="padding:0px">
                      <button class="dropdown btn btn-default dropdown-toggle" style="border:none;background-color:white" type="button" id="object" data-toggle="dropdown">
                        {{ user.member.role }}
                        <i *ngIf="user.role=='Owner'"
                          class="fa fa-user-circle-o"
                          aria-hidden="true" style="margin-left: 2px;">
                        </i>
                        <i *ngIf="user.role=='Member'"
                          class="fa fa-user"
                          aria-hidden="true" style="margin-left: 2px;">
                        </i>
                        <span class="caret" style="cursor:pointer;color:black"></span>
                      </button>
                      <div class="dropdown-menu">
                        <li *ngIf="user.member.role=='Member'"><a (click)="setUserRole(user, 'Owner')">Grant to Owner</a></li>
                        <li *ngIf="user.member.role=='Owner'"><a (click)="setUserRole(user, 'Member')">Grant to Member</a></li>
                      </div>
                    </div>
                  </td>
                  <td>
                    <label class="switch" style="margin-left: 20px;">
                      <input type="checkbox" [checked]="user.verified"><i></i>
                    </label>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
