<div class="row">
  <div class="col-lg-12 col-md-12 col-xs-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <div>
          <div class="pull-left">
            <span class="fa fa-server" aria-hidden="true"></span> Stacks</div>
        </div>
      </div>

      <div class="panel-body">
        <div classes="col-lg-12">
          <div class="pull-left">
            <div class="btn-group" role="group" aria-label="...">
              <button type="button" class="btn btn-primary"
                (click)=deploy()>
                <i class="glyphicon glyphicon-tasks space-right"></i>
                Deploy
              </button>
            </div>
            <div class="btn-group" role="group" aria-label="...">
              <button type="button" class="btn btn-danger"
                [disabled]="dockerStacksService.currentStack.name==''"
                (click)="remove()">
                <i class="fa fa-trash space-right"></i>
                Remove
              </button>
              <button type="button" class="btn btn-primary"
                [disabled]="dockerStacksService.currentStack.name==''"
                (click)=update()>
                <i class="glyphicon glyphicon-tasks space-right"></i>
                Update
              </button>
              <button type="button" class="btn btn-primary"
                [disabled]="dockerStacksService.currentStack.name==''"
                (click)="logs(dockerStacksService.currentStack.name)">
                <i class="glyphicon glyphicon-list-alt space-right"></i>
                Logs
              </button>
              <button type="button" class="btn btn-primary"
                [disabled]="dockerStacksService.currentStack.name==''"
                (click)="metrics(dockerStacksService.currentStack.name)">
                <i class="glyphicon glyphicon-stats space-right"></i>
                Metrics
              </button>
            </div>
          </div>
          <div class="pull-right">
            <input type="text"
              #filter
              id="filter"
              placeholder="Filter..."
              class="form-control"
              (keyup)="listService.filter(filter.value)"/>
          </div>
        </div>
      </div>

      <span class="help-block" style="color:red;margin-left:20px">{{ message }}</span>

      <div class="row">
        <div classes="no-padding">
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th></th>
                  <th>
                    <a>
                      Id
                      <span (click)="listService.order('id', 1)" class="glyphicon glyphicon-chevron-down"></span>
                      <span (click)="listService.order('id', -1)" class="glyphicon glyphicon-chevron-up"></span>
                    </a>
                  </th>
                  <th>
                    <a>
                      Name
                      <span (click)="listService.order('name', 1)" class="glyphicon glyphicon-chevron-down"></span>
                      <span (click)="listService.order('name', -1)" class="glyphicon glyphicon-chevron-up"></span>
                    </a>
                  </th>
                  <th>
                    <a>
                      Status
                      <span (click)="listService.order('status', 1)" class="glyphicon glyphicon-chevron-down"></span>
                      <span (click)="listService.order('status', -1)" class="glyphicon glyphicon-chevron-up"></span>
                    </a>
                  </th>
                  <th>
                    <a>
                      Owner
                      <span (click)="listService.order('ownerName', 1)" class="glyphicon glyphicon-chevron-down"></span>
                      <span (click)="listService.order('ownerName', -1)" class="glyphicon glyphicon-chevron-up"></span>
                    </a>
                  </th>
                  <th>
                    <a>
                      Owner type
                      <span (click)="listService.order('ownerType', 1)" class="glyphicon glyphicon-chevron-down"></span>
                      <span (click)="listService.order('ownerType', -1)" class="glyphicon glyphicon-chevron-up"></span>
                    </a>
                  </th>
                  <th>
                    <a>
                      Created on
                      <span (click)="listService.order('createDate', 1)" class="glyphicon glyphicon-chevron-down"></span>
                      <span (click)="listService.order('createDate', -1)" class="glyphicon glyphicon-chevron-up"></span>
                    </a>
                  </th>
                  <th>
                    <a>
                      Services
                      <span (click)="listService.orderNum('runningServices', 1)" class="glyphicon glyphicon-chevron-down"></span>
                      <span (click)="listService.orderNum('runningServices', -1)" class="glyphicon glyphicon-chevron-up"></span>
                    </a>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr (click)="dockerStacksService.setCurrentStack(stack.name)" [style.color]=getColor(stack) *ngFor="let stack of listService.getData()">
                  <td><input type="checkbox" [checked]="dockerStacksService.currentStack.name===stack.name" (click)=dockerStacksService.setCurrentStack(stack.name)></td>
                  <td>{{ stack.shortId }}</td>
                  <td>{{ stack.name }}</td>
                  <td>{{ stack.status }}</td>
                  <td> {{ stack.ownerName }}</td>
                  <td> {{ stack.ownerType }}</td>
                  <td> {{ stack.createDate }}</td>
                  <td>
                    <a (click)="serviceList(stack.name)">{{stack.services}}</a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
