<div id='dgraph-editor' graphMovable>
  <div class="panel panel-default">
    <div class="panel-body" style="padding:10px">
      <div style="color:blue">Parameters</div>

        <form class="form-horizontal">
          <div class="col-sm-12" style="padding:0px">
            <input
              type="text"
              class="form-control"
              placeholder="title"
              [value]="dashboardService.selected.title"
              #title
              (change)="dashboardService.setTitle(title.value)">
          </div>

          <div class="form-inline" style="padding:0px">
            <label style="margin-top:5px">
            <input
              style="height:12px"
              type="checkbox"
              class="form-control"
              [checked]="dashboardService.selected.border"
              #border
              id="border"
              (click)="dashboardService.setBorder(border.checked)"> Border</label>
          </div>

          <div class="col-sm-12" *ngIf="dashboardService.selected.type!='text'" style="padding:0px;margin-top:5px">
            <div class="btn dropdown" style="padding:0px">
              <button class="dropdown btn btn-default dropdown-toggle" style="width:218px;padding:2px" type="button" id="refreshperiod" data-toggle="dropdown">
                Request on: {{ dashboardService.selected.object }}
                <span class="caret" style="cursor:pointer;color:black"></span>
              </button>
              <div class="dropdown-menu">
                <li><a (click)="dashboardService.setObject('stack')">Stack</a></li>
                <li><a (click)="dashboardService.setObject('service')">Service</a></li>
                <li><a (click)="dashboardService.setObject('container')">Container</a></li>
              </div>
            </div>
        </div>

        <div class="col-sm-12" *ngIf="dashboardService.selected.type!='text'" style="padding:0px;margin-top:5px">
          <div class="btn dropdown" style="padding:0px">
            <button class="dropdown btn btn-default dropdown-toggle" style="width:218px;padding:2px" type="button" id="refreshperiod" data-toggle="dropdown">
              Field: {{ dashboardService.selected.field }}
              <span class="caret" style="cursor:pointer;color:black"></span>
            </button>
            <div class="dropdown-menu">
              <li><a (click)="dashboardService.setField('cpu-usage')">cpu-usage</a></li>
              <li><a (click)="dashboardService.setField('mem-limit')">mem-limit</a></li>
              <li><a (click)="dashboardService.setField('mem-maxusage')">mem-maxusage</a></li>
              <li><a (click)="dashboardService.setField('mem-usage')">mem-usage</a></li>
              <li><a (click)="dashboardService.setField('mem-usage-p')">mem-usage-p</a></li>
              <li><a (click)="dashboardService.setField('net-total-bytes')">net-total-bytes</a></li>
              <li><a (click)="dashboardService.setField('net-rx-bytes')">net-rx-bytes</a></li>
              <li><a (click)="dashboardService.setField('net-rx-packets')">net-rx-packets</a></li>
              <li><a (click)="dashboardService.setField('net-tx-bytes')">net-tx-bytes</a></li>
              <li><a (click)="dashboardService.setField('net-tx-packets')">net-tx-packets</a></li>
              <li><a (click)="dashboardService.setField('io-total')">io-total</a></li>
              <li><a (click)="dashboardService.setField('io-write')">io-write</a></li>
              <li><a (click)="dashboardService.setField('io-read')">io-read</a></li>
            </div>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>
