
<div class="row">
  <div class="col-lg-12 col-md-12 col-xs-12" style="margin-bottom:5px">
    <div class="panel panel-default" style="margin-bottom:5px">
      <div class="panel-body" style="padding-bottom:5px">
        <div class="form-group">
          <div>
            <div class="pull-left">
              <span class="glyphicon glyphicon-book space-right" aria-hidden="true"></span>
              Organization
            </div>
            <div class="pull-left" style="color:blue;margin-left:10px">{{name}}</div>
          </div>
        </div>
        <div class="col-lg-12 col-md-12 col-xs-12" style="margin-top:20px">
          <div class="panel panel-default" style="border-style:none">
            <div class="btn-group" role="group" aria-label="...">
              <button class="btn btn-primary" (click)="userList()">
                <i class="glyphicon glyphicon-user" aria-hidden="true"></i>
                Users
              </button>
              <button appDropdown [disabled]="updated" type="button" class="btn btn-primary">
                <i class="fa fa-user-plus" aria-hidden="true"></i>
                Teams
                <span class="caret"></span>
                <ul class="dropdown-menu">
                  <li><a [routerLink]="['/amp/organizations', organization.name, 'team', 'create']">Create team</a></li>
                  <li role="separator" class="divider"></li>
                  <li *ngFor="let team of organization.teams">
                    <a [routerLink]="['/amp/organizations', name, 'team', team.name]">{{ team.name }}</a>
                  </li>
                </ul>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12 col-md-12 col-xs-12">
    <div class="panel panel-default">
      <div class="panel-body" style="padding-top:5px">

        <div class="col-sm-4" style="height=100%">
          <div class="list-group">
            <input
              #filter1
              type="text"
              id="filter"
              placeholder="Filter..."
              class="form-control input-sm"
              style="margin-bottom:15px"
              (keyup)="listUserService.filter(filter1.value)"/>
            <a class="disabled list-group-item">Available users</a>
            <a *ngFor="let user of listUserService.getData()" (click)="addUser(user)" class="list-group-item" style="padding:5px;color:blue">
              {{user.getLabeledName()}}
              <div *ngIf="user.saved && user.saveError===''" style="color:green" class="menu-icon glyphicon glyphicon-ok space-left"></div>
              <div *ngIf="user.saved && user.saveError!==''" style="color:red" class="menu-icon glyphicon glyphicon-remove space-left space-right"></div>
              <div *ngIf="user.saved && user.saveError!==''" style="color:red">{{user.saveError}}</div>
            </a>
          </div>
        </div>

        <div class="col-sm-4 btn-group btn-group-vertical" align="center" style="margin-top:50px">
          <div style="">
            <a (click)="addAll()" style="background-color:white;display:block;margin:20px">
              Add all
              <i class="glyphicon glyphicon-chevron-right"></i>
            </a>
            <a (click)="removeAll()" style="background-color:white;display:block;margin:20px">
              <i class="glyphicon glyphicon-chevron-left"></i>
              Remove all
            </a>
            <button [disabled]="nbSaveInProgress>0" class="btn btn-primary" (click)="applyUsers()">
              <i class="glyphicon glyphicon-send" aria-hidden="true"></i>
              Apply
            </button>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="list-group">
            <input
              #filter2
              type="text"
              id="filter"
              placeholder="Filter..."
              class="form-control input-sm"
              style="margin-bottom:15px"
              (keyup)="listUserAddedService.filter(filter2.value)"/>
            <a class="disabled list-group-item">Organization users</a>
            <a *ngFor="let addedUser of listUserAddedService.getData()" (click)="removeUser(addedUser)" class="list-group-item" style="padding:5px;color:blue">
              {{addedUser.getLabeledName()}}
              <div *ngIf="addedUser.saved && addedUser.saveError===''" style="color:green" class="menu-icon glyphicon glyphicon-ok space-left"></div>
              <div *ngIf="addedUser.saved && addedUser.saveError!==''" style="color:red" class="menu-icon glyphicon glyphicon-remove space-left space-right"></div>
              <div *ngIf="addedUser.saved && addedUser.saveError!==''" style="color:red">{{addedUser.saveError}}</div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
