<div class="row" [hidden]="byPass">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <div icon="fa-plus" title="Login user"></div>
        <div>

          <div style="height:50px">
            <img src="/assets/images/amp.png" alt="amp" class="img-rounded" style="max-height:25px">
          </div>

          <form class="form-horizontal" (ngSubmit)="signin(f)" #f="ngForm">

            <div class="form-group">
              <div class="col-sm-12">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
                  <input [(ngModel)]="login" type="text" class="form-control" name="username" placeholder="username" #username>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="col-sm-12">
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-lock" aria-hidden="true"></i></span>
                  <input ngModel type="password" class="form-control" name="password" placeholder="password" #userpwd>
                </div>
              </div>
            </div>

            <h5 style="color:green"> {{message}} </h5>
            <h5 style="color:red"> {{messageError}} </h5>
            <a *ngIf="validateLink" [href]="httpService.addr+'/gw/validate'" >please validate this link: {{ httpService.addr }}</a>

            <div style="height:20px"></div>
            <div class="form-group">
              <div class="col-sm-12">
                <button type="button" class="btn btn-primary btn-sm" autofocus type="submit"><i class="glyphicon glyphicon-log-in"></i> Sign in</button>
                <i id="createUserSpinner" class="fa fa-cog fa-spin" style="margin-left: 5px; display: none;"></i>
                <a class="text-danger" style="margin-left: 20px" routerLink="/auth/signup">
                  <u> SignUp </u>
                </a>
                <a class="text-danger" style="margin-left: 20px" routerLink="/auth/forgot">
                  <u>Forgot</u>
                </a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
