
<div class="row header" style="margin-bottom:5px">
  <div class="col-xs-12" style="margin-bottom:5px">
    <div class="meta">
      <div title="Cluster overview">
        <div class="page white-space-normal">
          <div class="pull-left space-right">
            <span [hidden]="menuService.currentMenuItem.name==''" class="btn btn-default space-right" class="header_title_content" (click)="menuService.refresh()">
              <a data-toggle="tooltip" title="Refresh">
                <i class="fa fa-refresh"></i>
              </a>
            </span>
          </div>
          <div class="pull-left space-right">{{menuService.currentMenuItem.name}}</div>
          <div *ngIf="menuService.tooltipLabel" class="pull-left space-right" style="color:blue"><i class="glyphicon glyphicon-arrow-right" style="font-size:10px"></i></div>
          <div style="color:blue;font-size:14px;margin-top:3px" class="pull-left">{{menuService.tooltipLabel}}</div>
          <div class="pull-right ng-scope">
            <a ui-sref="" class="text-danger" routerLinkActive="active" (click)="organizationsService.edit()" style="margin-right:25px;font-size:18px;">
              {{ organizationsService.currentOrganization.name }}
            </a>
          </div>
        </div>
      </div>
      <div class="ng-scope">
        <div class="breadcrumb-links">
          <div class="pull-left" ng-transclude="">
            <span class="ng-scope">{{menuService.currentMenuItem.description}}</span>
          </div>
          <span appDropdown class="pull-right user-box" style="cursor:pointer;font-size:14px">
            <i class="fa fa-user-circle-o" style="cursor:pointer"></i>
            {{ usersService.currentUser.name }}
            <span class="caret" style="cursor:pointer"></span>
            <ul class="dropdown-menu">
              <li class="disabled" [hidden]="organizationsService.organizations.length===0"><a>organizations</a></li>
              <li *ngFor="let org of organizationsService.organizations" (click)="organizationsService.setCurrentOrganization(org)"><a>{{org.name}}</a></li>
              <li role="separator" class="divider" [hidden]="organizationsService.organizations.length===0"></li>
              <li><a (click)="usersService.switchToUserOnly()">Switch to user only</a></li>
              <li><a (click)="createOrganization()">Create organization</a></li>
              <li><a>Settings</a></li>
              <li (click)="usersService.logout()"><a>Sign out</a></li>
            </ul>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
