<div class="row">
  <div class="col-lg-12 col-md-12 col-xs-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <div>
          <div class="pull-left">
            <span class="fa fa-server" aria-hidden="true"></span>
            Service: {{ dockerServicesService.currentService.name }}
          </div>
        </div>
      </div>

      <div class="panel-body">
        <div classes="col-lg-12">
          <div class="pull-left">
            <div class="btn-group" role="group" aria-label="...">
              <button type="button" class="btn btn-primary" (click)="returnBack()">
                <i class="glyphicon glyphicon-arrow-left"></i></button>
              <button type="button" class="btn btn-primary">
                <i class="glyphicon glyphicon-list-alt" aria-hidden="true"></i> Logs</button>
              <button type="button" class="btn btn-primary">
                <i class="glyphicon glyphicon-stats" aria-hidden="true"></i> Metrics</button>
            </div>
          </div>
          <div class="pull-right">
            <input type="text"
              #filter
              id="filter"
              placeholder="Filter..."
              class="form-control"
              (keyup)="listService.filter(filter.value)"/>
          </div>
        </div>
      </div>

      <div class="row">
        <div classes="no-padding">
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th></th>
                  <th>
                    <a>
                      Id
                      <span (click)="listService.order('id', 1)" class="glyphicon glyphicon-chevron-down"></span>
                      <span (click)="listService.order('id', -1)" class="glyphicon glyphicon-chevron-up"></span>
                    </a>
                  </th>
                  <th>
                    <a>
                      Name
                      <span (click)="listService.order('id', 1)" class="glyphicon glyphicon-chevron-down"></span>
                      <span (click)="listService.order('id', -1)" class="glyphicon glyphicon-chevron-up"></span>
                    </a>
                  </th>
                  <th>
                    <a>
                      Image
                      <span (click)="listService.order('ownerType', 1)" class="glyphicon glyphicon-chevron-down"></span>
                      <span (click)="listService.order('ownerType', -1)" class="glyphicon glyphicon-chevron-up"></span>
                    </a>
                  </th>
                  <th>
                    <a>
                      Status
                      <span (click)="listService.order('ownerType', 1)" class="glyphicon glyphicon-chevron-down"></span>
                      <span (click)="listService.order('ownerType', -1)" class="glyphicon glyphicon-chevron-up"></span>
                    </a>
                  </th>
                  <th>
                    <a>
                      Command
                      <span (click)="listService.order('name', 1)" class="glyphicon glyphicon-chevron-down"></span>
                      <span (click)="listService.order('name', -1)" class="glyphicon glyphicon-chevron-up"></span>
                    </a>
                  </th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr (click)="selectContainer(cont.id)" *ngFor="let cont of listService.getData()">
                  <td><input type="checkbox" [checked]="dockerContainersService.currentContainer.id===cont.id"></td>
                  <td class="{{select_class}}">{{ cont.id }}</td>
                  <td class="{{select_class}}">{{ cont.name }}</td>
                  <td class="{{select_class}}">{{ cont.image }}</td>
                  <td class="{{select_class}}">{{ cont.status }}</td>
                  <td class="{{select_class}}">{{ cont.command }}</td>
                  <td>
                    <a (click)="serviceList(stack.id)">
                      <i class="glyphicon glyphicon-arrow-right" aria-hidden="true"></i> details</a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
